auto-install-peers          = false
ignore-workspace-root-check = true
link-workspace-packages     = deep
prefer-workspace-packages   = true
publish-branch              = master
strict-peer-dependencies    = false
