auto-install-peers          = false
ignore-workspace-root-check = true
link-workspace-packages     = deep
prefer-workspace-packages   = true
publish-branch              = v2
strict-peer-dependencies    = false
