#editors {
  min-width:  48vw;
  display:    flex;
  flex-flow:  column;
  padding:    0.5rem 0.25rem;
  flex-grow:  1;
  background: #cacaca;
  background: linear-gradient(to right, #d8d8d8, #c8c8c8);

  input, textarea, select
  { border:     none;
    box-shadow: none;
    background: #fff0;
    /*transition: background ease-in 0.16s;*/
    .field:hover &
    { background: #fff8 }
    &:hover
    { background: #fff8 }
    &:focus, &:hover:focus, .field:hover &:focus
    { background: #fff;
      outline:    none; } }

  select
  { padding-left: 0.5rem }

  textarea
  { font-size:       1rem;
    min-height:      1.25rem;
    line-height:     1.25;
    border:          none;
    box-shadow:      none;
    background:      none;
    font-family:     monospace;
    white-space:     pre;
    scrollbar-width: initial;

    &:focus
    { background: #fff; } };

  .field .name
  { text-transform: none; }

  .field.file .name
  { font-size: 1rem; min-height: 2rem; } }

.field .name
{ color:          #555;
  font-size:      0.875rem;
  font-weight:    bold;
  font-weight:    550;
  letter-spacing: 0.05rem; }

.handle-v,
.handle-h
{ min-width: 1.5rem; min-height: 1rem; display: flex;
  svg { width: 1.25rem; height: 2rem } }

.handle-v:hover
{ background: #fff4; cursor: pointer }

.handle-h
{ flex-grow: 1 }

.handle-v
{ flex-flow: column nowrap; align-items: center;

  .collapsed & .grow { display: none; } }

.hex-row
{ font-family: monospace; white-space: pre;
  padding: 0 0.5rem; font-weight: 600 }

.field
{ display:   flex;
  flex-flow: column nowrap;

  &[data-disabled]
  { display: none; visibility: hidden; }

  .name
  { user-select:    none;
    padding:        0 0.33rem;

    #editors &
    { text-transform: none;
      padding:        0.25rem;
      align-items:    center;
      display:        flex;
      flex-flow:      row nowrap; } }

  .command
  { display: flex;
    flex-flow: row nowrap;
    align-items: center;
    user-select: none;
    padding: 0.25rem 0.5rem;

    &:hover { text-decoration: underline; }

    .icon { margin: 0.25rem 0.125rem 0.25rem 0.25rem }; } }

.field.file
{ flex-shrink:   0;
  flex-flow:     row nowrap;
  border-bottom: 1px solid #8888;
  min-height:    2rem;
  /*transition: background ease-in 0.166s;*/
  background: #fff0;

  &:hover
  { background: #fff3 }

  &:focus-within
  { background: #fff6;
    .name { color: #222; text-shadow: 1px 1px 3px #0002 } }

  textarea
  { margin-bottom: 0;
    padding-left: 0.25rem;
    &:focus-visible { outline: none } }

  &.collapsed textarea,
  &.collapsed .hex-row
  { display: none; visibility: hidden; max-height: 0; max-width: 0; }

  &:focus-within
  { background: #fff6 }

  > ul
  { list-style: none;
    padding:    0 0.5rem;
    display:    flex;
    flex-flow:  row nowrap;
    margin-top: 0.25rem;
    min-height: 1rem;

    > li { margin-right: 1rem } } };

  input, select
  { padding: 0.125rem 0.5rem;
    background: none;
    border: 1px solid transparent;
    box-shadow: none;
    &:focus { background: #fff; outline: none } }
  &:hover
  { input, select
    { background: #fff0; border-bottom: 1px dotted #0008;
      &:focus { background: #fff; } }}}

.fields
{ border-bottom: 1px solid #8888;
  input, select { margin-left: -0.5rem; padding-left: 0.75rem } }

.fn {
  input, textarea { background: none }
  .keyword, input { padding: 0.25rem; height; 1.5rem; line-height: 1rem; }
  .keyword { display: inline-block; font-style: italic }
  &:hover { input, textarea { background: none } }
  .command { opacity: 0.8 }
  &:hover { .command { opacity: 0.9 } }
  .command:hover { opacity: 1 }
  .file:hover & { background: #fff4 }
  &:focus-within { background: #fff }
}

#title {
  font-size: 1.25rem;
  font-weight: 250;
}

.witness {
  display: flex; flex-flow: row nowrap; margin-bottom: 1px;
  select {
    width: 4rem;
  }
}
