.monaco-editor {
  --vscode-editor-background: transparent !important;
  --vscode-editorGutter-background: linear-gradient(to right, #0000, #0002) !important;
  * {
    font-family: monospace;
    font-size: 1rem;
  }
  .line-numbers {
    background: #fff0
  }
  .collapsed & {
    display: none;
  }
}

.editor-wrapper {
  resize: vertical;
  overflow: auto;
  margin-left: -1.5rem;
  min-height: 4rem;
  .collapsed & {
    min-height: 0;
    overflow: hidden;
  }
}

#editors {
  background: #354a;
  padding: 0.5rem;
  display: flex; flex-flow: column nowrap; gap: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  /*box-shadow: 0.25rem 0 1rem #0002;*/
  /*&:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: 0.5rem;*/
    /*background: linear-gradient(to bottom, #000, #0000);*/
  /*}*/
  /*&:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: 0.5rem;*/
    /*background: linear-gradient(to top, #000, #0000);*/
  /*}*/
}

.editors {
  min-width:  48vw;
  display:    flex;
  flex-flow:  column;
  overflow:   auto;
  border:     none;
  background: none;
  gap: 0.5rem;

  &>.box {
    background: linear-gradient(to right, #d8d8d8, #c8c8c8);
    margin-right: 0.5rem;
    border-top: none;
  }

  input, textarea, select
  { border:     none;
    box-shadow: none;
    background: #fff0;
    /*transition: background ease-in 0.16s;*/
    .field:hover &
    { background: #fff8 }
    &:hover
    { background: #fff8 }
    &:focus, &:hover:focus, .field:hover &:focus
    { background: #fff;
      outline:    none;
      &::placeholder {
        color: #fa0f;
        text-shadow: 1px 1px 0 #000;
      } } }

  select
  { padding-left: 0.5rem }

  textarea
  { font-size:       1rem;
    min-height:      1.25rem;
    line-height:     1.25;
    border:          none;
    box-shadow:      none;
    background:      none;
    font-family:     monospace;
    white-space:     pre;
    scrollbar-width: initial;

    &:focus
    { background: #fff; } };
}
.field
{ display:   flex;
  flex-flow: row nowrap;
  &[data-disabled]
  { display: none; visibility: hidden; }
  .name
  { user-select:    none;
    padding:        0 0.33rem;

    #editors &
    { text-transform: none;
      padding:        0.25rem;
      align-items:    center;
      display:        flex;
      flex-flow:      row nowrap; } }
  .command
  { display: flex;
    flex-flow: row nowrap;
    align-items: center;
    user-select: none;
    padding: .25rem .5rem .25rem .125rem;
    gap: .125rem;
    &:hover { text-decoration: underline; background: #fff3; }

    .icon { margin: 0.25rem 0.125rem 0.25rem 0.25rem }; } }

.field .name {
  text-transform: none;
  color:          #000;
  font-size:      0.875rem;
  font-weight:    bold;
  font-weight:    550;
  letter-spacing: 0.05rem;
}

.field.file .name {
  font-size:  1rem;
  min-height: 1.5rem;
}

.field.head {
  background: #0004;
  .name {
    color: #fff;
    margin: 0 0.5rem;
    &.title { font-weight: bold }
  }
  &:focus-within {
    background: linear-gradient(to right, #0006, #0004); 
  }
  color: #fff;
  input, select {
    color: #fff;
    flex-grow: 1;
    background: linear-gradient(to right, #0002, #0000);
    &:hover, &:focus, &:active, &:focus-visible { background: linear-gradient(to right, #0004, #0000) !important }
    &:placeholder { color: #fffa }
  }
}

.field.file
{ flex-shrink: 0;
  flex-flow:  row nowrap;
  border-top: 1px solid #8884;
  border: 1px solid white;
  min-height: 2rem;
  background: #f0f0f0e0;
  &.collapsed { background: linear-gradient(to right, #fffa, #fff8); }
  color: #333;
  /*transition: background ease-in 0.166s;*/
  /*background: #d4d4d4;*/

  /*&:hover*/
  /*{ background: #fff1 }*/

  &:focus-within
  { background: #fff; color: #333;
    .name { color: #222; text-shadow: 1px 1px 3px #0002 } }

  textarea
  { margin-bottom: 0;
    padding-left: 0.25rem;
    &:focus-visible { outline: none } }

  &.collapsed textarea,
  &.collapsed .hex-row
  { display: none; visibility: hidden; max-height: 0; max-width: 0; }

  > ul
  { list-style: none;
    padding:    0 0.5rem;
    display:    flex;
    flex-flow:  row nowrap;
    margin-top: 0.25rem;
    min-height: 1rem;

    > li { margin-right: 1rem } } };

  input, select
  { padding: 0.125rem 0.5rem;
    background: none;
    border: 1px solid transparent;
    box-shadow: none;
    &:focus { background: #fff; outline: none } }
  &:hover
  { input, select
    { background: #fff0; border-bottom: 1px dotted #0008;
      &:focus { background: #fff; } }}}

.fields
{ border-bottom: 1px solid #8888;
  input, select { margin-left: -0.5rem; padding-left: 0.75rem } }

.fn {
  input, textarea { background: none }
  .keyword, input { padding: 0.25rem; height: 1.5rem; line-height: 1rem; }
  .keyword { display: inline-block; font-style: italic }
  &:hover { input, textarea { background: none } }
  .command { opacity: 0.8 }
  &:hover { .command { opacity: 0.9 } }
  .command:hover { opacity: 1 }
  .file:hover & { background: #fff4 }
  &:focus-within { background: #fff }
}

#title {
  font-size: 1.25rem;
  font-weight: 250;
}

.witness {
  display: flex; flex-flow: row nowrap; margin-bottom: 1px;
  select {
    width: 4rem;
  }
}

.handle-v, .handle-h
{ min-width: 1.5rem; min-height: 1rem; display: flex;
  svg { width: 1.25rem; height: 1.75rem } }
.handle-h
{ flex-grow: 1 }
.handle-v
{ flex-flow: column nowrap; align-items: center;
  .collapsed & .grow { display: none; }
  &:hover { background: #fff4; cursor: pointer } }
.hex-row
{ font-family: monospace; white-space: pre;
  padding: 0 0.5rem; font-weight: 600 }
