#sidebar {
  color: #fff;
  padding: 0.5rem 0 0;
  min-width: 30%;
  max-width: 48%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;

  .field .name {
    margin: 0.5rem 0.25rem
  }

  a[href] {
    text-decoration: none;
    font-weight: 500;
    color: #355;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  details {
    border: 1px solid #fff6;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-weight: 500;
    &[open] {
      background: #ddd;
      color: #333;
    }
  }
}

#features {
  overflow: auto;
  background: #3545;
  padding: 0.5rem 0.5rem 0;
}

.features {
  margin:     0;
  flex-grow:  1;
  list-style: none;
  display:    flex;
  flex-flow:  column;
  padding:    0;
}

.feature {
  min-height:  1.33rem;
  margin:      0;
  padding:     0.75rem 0 0.25rem;
  display:     flex;
  flex-flow:   column nowrap;
  padding:     0 0.5rem 0 0;
  align-items: stretch;
  user-select: none;
  margin-top:  0.5rem;
  /*background:  #eeea;*/

  &[data-depth="0"] {
    label { font-weight: 700; }
  }

  &[data-depth="1"] {
    padding-left: 0.75rem;
  }

  &[data-depth="1"] + &[data-depth="0"] {
    margin-top: 0.5rem; border-top: 1px solid #8888;
  }

  &.disabled {
    opacity: 0.8
  }

  .links {
    font-size: 0.875rem;
    margin-top: 0.25rem;
    margin-left: 0.75rem;
    flex-flow: row nowrap
  }

  p {
    font-size: 0.875rem;
    margin: 0.25rem 0.25rem 0.25rem 1.5rem;
  }

  select {
    padding: 0.25rem; margin-left:-1rem
  }

  label {
    align-items:center;padding:0.1rem 0.25rem;
    user-select:none;font-size:0.875rem;display:flex;flex-flow:row nowrap;
    white-space:nowrap;font-weight:600;min-width:14ch;

    &>input {
      margin-right: 0.25rem
    }

    .feature.disabled & {
      background:none;border-radius:0.25rem;opacity:0.75;
    }
  }

  a.flex .icon {
    margin-right: 0.25rem; margin-left: 0.75rem;
  }
}

/*.features.smol*/
/*{ a, p { display: none; visibility: hidden } }*/
