@font-face
{ font-family: "sans"; font-style: normal; font-weight: 100 1000;
  src: url("/font.woff2")   format("woff2 supports variations"),
       url("/font.woff2")   format("woff2-variations"); }
@font-face
{ font-family: "sans"; font-style: italic; font-weight: 100 1000;
  src: url("/italic.woff2") format("woff2 supports variations"),
       url("/italic.woff2") format("woff2-variations"); }

*
{ font-family:sans, sans-serif;
  box-sizing: border-box;
  scrollbar-width: thin }

html,
body
{ font-size: 18px;
  height:    100%;
  margin:    0;
  padding:   0; }

html
{ background-color: #65b34c;
  background-size:  cover;
  background-image:
    linear-gradient(to top, #65b34c, #77b377),
    radial-gradient(circle at top, #ddd8, #7778),
    url('bg.svg'); }

body
{ color:           #444;
  display:         flex;
  flex-flow:       row;
  justify-content: center;
  background:      radial-gradient(at left, #0000, #2311);
  overflow:        hidden; 
  box-shadow: 0.5rem 0.5rem 1rem #0001 inset;
}

a[href]
{ color: #090; }

h1
{ color: #aaa; }

input,
textarea,
select
{ border:     1px solid #8884;
  box-shadow: 3px 3px 6px #8882;
  &, label
  { &:hover { background: #fff8 }; }; }

h1
{ margin: 0;
  font-size: 1.66rem;
  font-weight: normal; }

input,
textarea,
select
{ font-size:   1rem;
  padding:     0.33rem 0.5rem;
  line-height: 1.33rem;
  &::placeholder { text-decoration: underline; };
  &:focus::placeholder { text-decoration: none; } };

/*button {margin-top:0.25rem;background:#fff;border:1px solid #aaa;background:#4a4;color:#fff;padding:0.5rem 1rem;border:none;border-radius:0.25rem;box-shadow:3px 3px 9px #3333; text-transform:uppercase;letter-spacing:0.1rem;font-size:1rem}*/

noscript {
  display: inline-block;
  inset: 0; z-index: 1000; background: #0004; backdrop-filter: blur(0.25rem);
  font-weight: 350;
  color: #fff; border: 1px solid tomato; padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

input[type=checkbox]
{ width:  1rem;
  height: 1rem;
  margin: 0; }

.rel
{ position: relative; }

.abs
{ position: absolute; }

.flex
{ display: flex; }

.row
{ display: flex; flex-flow: row nowrap }

.row-rev
{ display: flex; flex-flow: row-reverse nowrap }

.col
{ display: flex; flex-flow: column nowrap }

.wrap
{ flex-wrap: wrap }

.grow
{ flex-grow: 1 }

.around
{ justify-content: space-around }

.between
{ justify-content: space-between }

.justify-evenly
{ justify-content: space-evenly; }

.justify-center
{ justify-content: center; }

.align-center
{ align-items: center; }

.align-start
{ align-items: flex-start; }

.align-stretch
{ align-items: stretch; }

.gap
{ gap: 0.5rem; }

.overflow-hidden
{ overflow: hidden }

input[type=checkbox].collapse
{ width: 1rem;
  height: 1rem;
  position: relative;
  display: inline-block; }

#main {
  border: 0.5rem solid transparent;
  overflow: auto;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  padding: 0;
}

#sidebar,
#editors
{ overflow: auto; }

.box {
  background:linear-gradient(180deg, #fff8, #fff4);
  box-shadow:3px 3px 3px #5551;
  border-width:1px;
  border-style:solid;
  border-top-color:#ffffffff;
  border-left-color:#ffffff88;
  border-bottom-color:#00000028;
  border-right-color:#00000022;
}

.collapsible {
  max-width:  100%;
  max-height: 100%;
  /*transition: max-width 0.33s ease-out, max-height 0.33s ease-out, opacity 0.33s ease-in;*/
  .collapsed & {
    overflow: hidden;
    max-height: 0;
    max-width:  0;
    opacity:    0;
    * { overflow: hidden; }
  }
}
@media screen and (max-height: 480px) {
  .nav {
    display:   flex;
    flex-flow: row nowrap;
    .buttons {
      align-self: center;
      margin-top: 0;
      flex-flow:  column wrap;
      max-height: 100%;
    }
  };
}

@media screen and (max-width: 1440px) {
  body {
    flex-flow: column;
    .buttons {
      align-self: center;
      margin-top: 0;
      flex-flow:  row nowrap;
      max-height: 100%;
    }
  }
  #main { flex-grow: 1 }
  .nav {
    justify-content: space-between;
    display:   flex;
    flex-flow: row nowrap;
    padding-top: 0;
    margin: 0.5rem 0.5rem 0;
    .logo { margin: 1rem 0 0 }
    & > .col { flex-flow: row nowrap; align-items: center; }
    .hackbg { margin-top: 0 }
  }
  #sidebar {
    max-width: auto;
    > .row {
      flex-flow: column
    }
  }
}
 
@media screen and (min-width: 1441px) {
  #sidebar,
  #editors {
    height: 100%;
    /*max-height: 100%;*/
    /*align-self: center;*/
  }
  #navbar {
    align-self: flex-start;
    flex-shrink: 0;
    margin: 1.25rem 1rem;
    padding: 1rem 0;
  }
}
.nav {
  align-items:  center;
  min-height:   1.5rem;
  text-shadow:  1px 1px 0 #0008;
  flex-shrink:  0;
  color:        #fff;
  user-select:  none;
  padding: 0 0 1rem 0;
  /*background: #fff1;*/
  /*border: 1px solid #fff3;*/
  /*border-radius: 1px;*/
  /*box-shadow: 2px 2px 5px #0002;*/
  a { color: #fff }
}

/*.nav, #editors, #sidebar {*/
  /*opacity: 0.9;*/
  /*[>transition: opacity ease-in 0.16s;<]*/
  /*&:hover { opacity: 1 }*/
/*}*/

.logo {
  width:               10rem;
  min-height:          8rem;
  margin:              0 auto;
  background:          url("/logo.svg");
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center;
  align-self:          stretch;
  filter: drop-shadow(1px 1px 1px #0005);
}

.wordmark {
  width:               10rem;
  margin:              -1rem auto 0;
  min-height:          2rem;
  background:          url("/wordmark.svg");
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center;
  align-self:          stretch;
  filter: drop-shadow(1px 1px 1px #0005);
  border-bottom: 1px solid #fff8;
  border-top: 1px solid #fff8;
}

.subtitle {
  align-self: stretch;
  padding: 0 0.5rem;
  font-size:1.25rem;
  line-height:1;
  font-weight:400;color:#fff;text-decoration:none;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  /*border-bottom: 1px solid #fff;*/
}

.hackbg {
  /*background: linear-gradient(to bottom, rgba(144, 19, 254, 1), rgba(144, 19, 254, 0));*/
  font-size: 1.2rem;
  letter-spacing: 0;
  font-weight: normal;
  padding: 0.66rem 0.5rem 0.66rem 1rem;
  margin: 0 0 0.5rem -0.5rem;
  border-bottom: none;
  &:hover {
    background: linear-gradient(to right, transparent, rgb(144, 19, 254), rgb(150, 20, 255));
  }
  strong {
    font-weight: 800;
  }
}

.buttons {
  margin-top: 0.9rem;
  gap: 0.33rem;
  align-self: flex-end;

  a, button
  { color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    background: none;
    border: none;
    box-shadow: none;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: 0.33rem;
    padding: 0.33rem 0.66rem;
    margin: 0;
    text-shadow: 0 1px 2px #0004;
    text-align: center;

    .icon
    { background: linear-gradient(to left, #0002, #fff2), linear-gradient(to top, #0002, #fff2);
      padding: 0.25rem;
      margin: -0.25rem -0.25rem -0.25rem 0;
      box-sizing: content-box;
      border-radius: 1rem; }

    &:hover
    { background: linear-gradient(to left, #0003, #0000); } }

  button
  { font-size: 0.875rem; } }
