@media screen and (max-height: 480px) {
  .nav {
    display:   flex;
    flex-flow: row nowrap;
    .buttons {
      align-self: center;
      margin-top: 0;
      flex-flow:  column wrap;
      max-height: 100%;
    }
  };
}

@media screen and (max-width: 1440px) {
  body {
    flex-flow: column;
    .buttons {
      align-self: center;
      margin-top: 0;
      flex-flow:  row nowrap;
      max-height: 100%;
    }
  }
  #main { flex-grow: 1 }
  .nav {
    justify-content: space-between;
    display:   flex;
    flex-flow: row nowrap;
    padding-top: 0;
    margin-top: 0;
    &:nth-child(2) { flex-flow: row nowrap }
    .hackbg { margin-top: 0 }
  }
  #sidebar {
    max-width: auto;
    > .row {
      flex-flow: column
    }
  }
}
 
@media screen and (min-width: 1441px) {
  #sidebar,
  #editors {
    height: 100%;
    /*max-height: 100%;*/
    /*align-self: center;*/
  }
  #navbar {
    align-self: stretch;
    flex-shrink: 0;
  }
}
