.nav {
  align-items:  center;
  min-height:   1.5rem;
  text-shadow:  1px 1px 0 #0008;
  flex-shrink:  0;
  padding-top:  0.5rem;
  padding-left: 0.5rem;
  color:        #fff;
  user-select:  none;
  a { color: #fff }
}

.wordmark {
  width:               10rem;
  min-height:          2rem;
  margin:              -0.5rem auto 0.5rem;
  background:          url("/wordmark.svg");
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center;
  align-self:          stretch;
  filter: drop-shadow(1px 1px 1px #0005);
}

.subtitle {
  align-self: stretch;
  padding: 0 0.5rem;
  font-size:1.25rem;
  line-height:1;
  font-weight:400;color:#fff;text-decoration:none;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
}

.hackbg {
  /*background: linear-gradient(to bottom, rgba(144, 19, 254, 1), rgba(144, 19, 254, 0));*/
  font-size: 1.2rem;
  letter-spacing: 0;
  font-weight: normal;
  padding: 0.66rem 0.5rem 0.66rem 1rem;
  margin: 0 0 0.33rem -0.5rem;
  &:hover {
    background: linear-gradient(to right, transparent, rgb(144, 19, 254), rgb(150, 20, 255));
  }
  strong {
    font-weight: 800;
  }
}

.buttons {
  margin-top: 0.9rem;
  gap: 0.33rem;
  align-self: flex-end;

  a, button
  { color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    background: none;
    border: none;
    box-shadow: none;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: 0.33rem;
    padding: 0.33rem 0.66rem;
    margin: 0;
    text-shadow: 0 1px 2px #0004;
    text-align: center;

    .icon
    { background: linear-gradient(to left, #0002, #fff2), linear-gradient(to top, #0002, #fff2);
      padding: 0.25rem;
      margin: -0.25rem -0.25rem -0.25rem 0;
      box-sizing: content-box;
      border-radius: 1rem; }

    &:hover
    { background: linear-gradient(to left, #0003, #0000); } }

  button
  { font-size: 0.875rem; } }
