.demo {

  box-shadow: 0 0 1rem 1rem #0001 inset;
  border-top: 1px solid #0002;
  border-bottom: 1px solid #fff3;
  font-size: 15px;
  background: radial-gradient(at bottom right, #fff2, #fff0), radial-gradient(at top left, #3544, #3542), #3541;
  background-size: 100%;
  padding: 2rem 3rem;
  margin: 1rem -3rem;


  .demouser {
    flex-grow: 1;
    color: #ffff;
    background: linear-gradient(to bottom, #bbb4 50%, #4544);
    box-shadow: -3px -2px 6px #0102, 1px 2px 6px #4042;
    padding: 0.66rem 0.45rem;
    border-top: 1px solid #fff4;
    border-left: 1px solid #fff4;
    border-right: 1px solid #0404;
    margin: 0.5rem;
    line-height: 1;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 1rem;
    margin-top: 0.5rem;
    & > section {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      font-family: monospace;
      gap: 0.5rem
    }
    input {
      line-height: 1;
      flex-grow: 1;
      background: #fff1;
      border-bottom: 1px solid #fff8;
      &::placeholder {
        color: #fffa;
        text-decoration: none
      }
    }
    .demoname {
      width: 3rem;
      height: 3rem;
      border-radius: 3rem;
      background: #0104;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .demolog {
      border-radius: 0.5rem;
      background: #fffc;
      border: 1px solid #fff;
      min-height: 20rem;
      min-width: 10rem;
      display: flex;
      overflow: auto;
      align-items: center;
      justify-content: center;
      color: #222;
      margin-bottom: -0.33rem;
    }
  }


}
