#editors {
  align-items:     center;
  color:           #fff;
  display:         flex;
  flex-flow:       column nowrap;
  font-size:       1.5rem;
  gap:             1px;
  justify-content: center;
  margin:          0.5rem -2rem;
  min-height:      36rem;
  padding:         1rem;
  position:        relative;
}

.editors {
  font-size: 1rem;
  padding: 1rem 1rem;
  min-width:  48vw;
  display:    flex;
  flex-flow:  column;
  /*overflow:   auto;*/
  border:     none;
  /*background: #3544;*/
  background: #0104;
  /*padding:    1px 2px;*/
  gap:        1px;

  &>.box {
    background: linear-gradient(to right, #d8d8d8, #c8c8c8);
    margin-right: 0.5rem;
    border-top: none;
  }

  input, textarea, select
  { border:     none;
    box-shadow: none;
    background: #fff0;
    /*transition: background ease-in 0.16s;*/
    .field:hover &
    { background: #fff8 }
    &:hover
    { background: #fff8 }
    &:focus, &:focus-visible, &:hover:focus, .field:hover &:focus
    { background: #fff;
      outline:    none;
      &::placeholder {
        color: #fa0f;
        text-shadow: 1px 1px 0 #000;
      } } }

  select
  { padding-left: 0.5rem }

  textarea
  { font-size:       1rem;
    min-height:      1.25rem;
    line-height:     1.25;
    border:          none;
    box-shadow:      none;
    background:      none;
    font-family:     monospace;
    white-space:     pre;
    scrollbar-width: initial;

    &:focus
    { background: #fff; } };

  .layer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 0;
    p { width: 30ch; margin-top: 0 !important; margin-bottom: 1rem !important; }
  }
}
