#sidebar, .sidebar {
  .icon { width: 1.25rem; height: 1.25rem }
  color: #fff;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  min-width: 30ch;
  height: auto;
  .field .name {
    margin: 0.5rem 0.25rem
  }

  a[href] {
    text-decoration: none;
    font-weight: 500;
    color: #dfd;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  details {
    border: 1px solid #fff6;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    summary {
      font-size: 1.5rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      & > .row { width: 100% }
      .help { color: #fffc; &:hover { color: #fff } }
    }
  }
}
