button.chain {
  background: #0004;
  border-radius: 0.125rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid #fff8;
  padding: 1rem 2rem;
  &:hover { background: #0005; border-color: #fff9 }
}
