.demo {
  box-shadow: 0 0 1rem 1rem #0001 inset;
  border-top: 1px solid #0002;
  border-bottom: 1px solid #fff3;
  font-size: 15px;
  background: radial-gradient(at bottom right, #fff2, #fff0), radial-gradient(at top left, #3544, #3542), #3541;
  background-size: 100%;
  padding: 2rem 3rem;
  strong, .address { color: #fff }
}
