#editors {
  background-size: 100%;
  align-items:     center;
  color:           #fff;
  display:         flex;
  flex-flow:       column nowrap;
  font-size:       1.5rem;
  gap:             1px;
  justify-content: center;
  min-height:      36rem;
  position:        relative;
  box-shadow: 0 0 1rem 1rem #0001 inset;
  border-top: 1px solid #0002;
  border-bottom: 1px solid #fff3;
  width: 100%;

  .editors {
    background: #0002;
    border:     none;
    display:    flex;
    flex-flow:  column;
    font-size:  1rem;
    gap:        1px;
    min-width:  1024px;
    max-width:  1366px;
    padding:    2rem 5rem;

    & > .box {
      background: linear-gradient(to right, #d8d8d8, #c8c8c8);
      margin-right: 0.5rem;
      border-top: none;
    }

    .project {
      input, textarea, select {
        border:     none;
        box-shadow: none;
        background: #fff2;
        /*transition: background ease-in 0.16s;*/
        &:hover, .field:hover & {
          background: #fff3
        }
        &:focus, &:focus-visible, &:hover:focus, .field:hover, &:focus {
          background: #fff;
          color:      #000 !important;
          outline:    none;
          &::placeholder {
            color: #fa0f;
            text-shadow: 1px 1px 0 #000;
          }
        }
      }
    }

    select { padding-left: 0.5rem }

    textarea {
      font-size:       1rem;
      min-height:      1.25rem;
      line-height:     1.25;
      border:          none;
      box-shadow:      none;
      background:      none;
      font-family:     monospace;
      white-space:     pre;
      scrollbar-width: initial;
      &:focus { background: #fff; }
    };
  }
}

.programs {
  gap: 2rem;
}

.sidebox {
  max-width: 30ch;
  margin-right: 1rem;
}

.monaco-editor {
  --vscode-editor-background: transparent !important;
  --vscode-editorGutter-background: linear-gradient(to right, #0000, #0002) !important;
  * {
    font-family: monospace;
    font-size: 1.15rem;
  }
  .line-numbers {
    background: #fff0
  }
  .collapsed & {
    display: none;
  }
}

.editor-wrapper {
  margin:        0 0 0.5rem -1.5rem;
  border-radius: 0.125rem;
  background:    #fff4;
  .collapsed & {
    min-height: 0;
    overflow:   hidden;
    display:    none;
    visibility: hidden;
  }
}

.field {
  display:   flex;
  flex-flow: row nowrap;

  &[data-disabled] {
    display: none;
    visibility: hidden;
  }

  .name {
    user-select:    none;
    padding:        0 0.33rem;
    text-transform: none;
    color:          #000;
    font-weight:    bold;
    font-weight:    550;
    letter-spacing: 0.05rem;

    #editors & {
      text-transform: none;
      align-items:    center;
      display:        flex;
      flex-flow:      row nowrap;
    }
  }

  .command {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    user-select: none;
    padding: .25rem .5rem .25rem .125rem;
    gap: .125rem;
    border-left: 1px solid #fff;
    border-right: 1px solid #0002;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #0002 inset;
    &:hover { text-decoration: underline; background: #fff3; }
    .icon { margin: 0.25rem 0.125rem 0.25rem 0.25rem };
  }
}

.field.head {
  background: #0004;
  .name {
    color: #fff;
    margin: 0 0.5rem;
    &.title { font-weight: bold }
  }
  &:focus-within { background: linear-gradient(to right, #0006, #0004);  }
  color: #fff;
  input, select {
    color: #fff;
    flex-grow: 1;
    background: linear-gradient(to right, #0002, #0000);
    &::placeholder { color: #fffa; }
    &:hover, &:focus, &:active, &:focus-visible {
      background: linear-gradient(to right, #0004, #0000) !important;
      outline: none;
      &::placeholder { color: #fa0f !important; }
    }
  }
}

.field.file {
  flex-shrink: 0;
  flex-flow:  row nowrap;
  border-top: 1px solid #8884;
  border: 1px solid white;
  min-height: 2rem;
  background: #ddd;
  padding: 0.33rem;
  border-radius: 3px;
  .name { font-size: 1.25rem; min-height: 2rem; padding: 0 0.33rem; }
  &.collapsed { background: linear-gradient(to right, #dddd, #ddda); }
  color: #333;
  &:focus-within {
    background: #eeee;
    color: #333;
    .name { color: #222; text-shadow: 1px 1px 3px #0002 }
  }

  textarea {
    margin-bottom: 0;
    padding-left: 0.25rem;
    &:focus-visible { outline: none }
  }

  &.collapsed textarea,
  &.collapsed .hex-row {
    display: none; visibility: hidden; max-height: 0; max-width: 0;
  }

  > ul {
    list-style: none;
    padding:    0 0.5rem;
    display:    flex;
    flex-flow:  row nowrap;
    margin-top: 0.25rem;
    min-height: 1rem;

    > li {
      margin-right: 1rem
    }
  }

  input, select {
    padding: 0.125rem 0.5rem;
    background: none;
    border: 1px solid transparent;
    box-shadow: none;
    &:focus {
      background: #fff; outline: none
    }
  }

  &:hover {
    input, select {
      background: #fff0;
      border-bottom: 1px dotted #0008;
      &:focus {
        background: #fff;
      }
    }
  }
}
}

.fields {
  border-bottom: 1px solid #8888;
  input, select { margin-left: -0.5rem; padding-left: 0.75rem }
}

.fn {
  input, textarea { background: none }
  .keyword, input { padding: 0.25rem; height: 1.5rem; line-height: 1rem; }
  .keyword { display: inline-block; font-style: italic }
  &:hover { input, textarea { background: none } }
  .command { opacity: 0.8 }
  &:hover { .command { opacity: 0.9 } }
  .command:hover { opacity: 1 }
  .file:hover & { background: #fff4 }
  &:focus-within { background: #fff }
}

#title {
  font-size: 1.25rem;
  font-weight: 250;
}

.handle-v,
.handle-h {
  min-width: 1.5rem;
  min-height: 2rem;
  display: flex;
  svg {
    width: 1.66rem; height: 2rem
  }
}

.handle-h {
  flex-grow: 1
}

.handle-v {
  z-index: 1000;
  flex-flow: column nowrap;
  align-items: center;
  .collapsed & .grow {
    display: none;
  }
  &:hover {
    background: #fff4;
    cursor: pointer;
    box-shadow: 1px 1px 1px #0002;
    border-radius: 0.1rem;
  }
}

.hex-row {
  font-family: monospace; white-space: pre;
  padding: 0 0.5rem; font-weight: 600
}

.phase {
  gap: 1rem;
  margin-bottom: 1rem;
}
.phase-form {
  gap: 1rem;
}

pre.compile-errors {
  max-width:   90ch;
  overflow:    auto;
  font-family: monospace;
  /*background:  #621a;*/
  font-size:   1rem;
  align-self:  center;
  background: #8002;
  /*border:      1px solid #f20;*/
}

.select-pubkey {
  input.pubkey { display: none }
  /*&:focus-within input.pubkey { display: block; }*/
}
