#editors
{ display: flex;
  flex-flow: column;

  textarea
  { font-size: 0.875rem; line-height: 1.25; border: none; box-shadow: none; background: #fff4 };

    .field .name
    { text-transform: none; } }

.field.file:focus-within
{ background: #fff6 }

.field .name
{ color: #555; }

.field .name
{ font-size:      0.875rem;
  font-weight:    bold;
  font-weight:    550;
  letter-spacing: 0.05rem; }

#editors
{ padding: 0.5rem 0.25rem; flex-grow: 1;

  textarea
  { font-family: monospace;
    min-height: 3rem;
    font-size: 1rem;
    line-height: 1.25;
    resize: vertical;
    border-bottom: 1px solid #888; } }

.handle-v,
.handle-h
{ min-width: 1rem; min-height: 1rem; display: flex;
  svg { width: 1.25rem; height: 1.5rem } }

.handle-v:hover
{ background: #fff4; cursor: pointer }

.handle-h
{ flex-grow: 1 }

.handle-v
{ flex-flow: column nowrap;

  .collapsed & .grow { display: none; } }

.hex-row
{ background: #fff8; font-family: monospace; white-space: pre;
  padding: 0 0.5rem; font-size: 0.875rem; font-weight: 600 }

.field
{ display:   flex;
  flex-flow: column nowrap;

  &[data-disabled]
  { display: none; visibility: hidden; }

  &.file
  { flex-flow: row nowrap;

    textarea
    { margin-bottom: 0;
      &:focus-visible { outline: none } }

    &.collapsed textarea,
    &.collapsed .hex-row
    { display: none; visibility: hidden }

    &:focus-within
    { background: #fff6 }

    > ul
    { list-style: none;
      padding:    0 0.5rem;
      display:    flex;
      flex-flow:  row nowrap;
      margin-top: 0.25rem;
      min-height: 1rem;

      > li { margin-right: 1rem } } };

  .name
  { user-select:    none;
    padding:        0 0.33rem;

    #editors &
    { text-transform: none;
      margin:         0.25rem;
      align-items:    center;
      display:        flex;
      flex-flow:      row nowrap;
      padding-top:    0; } } }
