/** Non-semantic override classes.
  * Kind of an anti-pattern. */
.rel             { position: relative !important; }
.abs             { position: absolute !important; }
.flex            { display: flex !important; }
.row             { display: flex !important; flex-flow: row nowrap !important }
.row-wrap        { display: flex !important; flex-flow: row wrap !important }
.row-rev         { display: flex !important; flex-flow: row-reverse nowrap !important }
.col             { display: flex !important; flex-flow: column nowrap !important }
.wrap            { flex-wrap: wrap !important }
.grow            { flex-grow: 1 !important }
.around          { justify-content: space-around !important }
.between         { justify-content: space-between !important }
.justify-evenly  { justify-content: space-evenly !important; }
.justify-center  { justify-content: center !important; }
.justify-between { justify-content: space-between !important; }
.align-center    { align-items: center !important; }
.align-start     { align-items: flex-start !important; }
.align-stretch   { align-items: stretch !important; }
.gap             { gap: 0.5rem !important; }
.overflow-hidden { overflow: hidden }
.pin-nw          { position: fixed !important; top: 0.25rem !important; left: 0.25rem !important; z-index: 2 }
.pin-n           { position: fixed !important; top: 0.5rem !important; left: 0.5rem !important; right: 0.5rem !important; }
.pin-ne          { position: fixed !important; top: 0.5rem !important; right: 0.5rem !important; z-index: 2 }
.pin-w           { position: fixed !important; top: 0.5rem !important; bottom: 0.5rem !important; left: 0.66rem !important; }
.pin-e           { position: fixed !important; top: 0.5rem !important; bottom: 0.5rem !important; right: 0.66rem !important; }
.pin-se          { position: fixed !important; bottom: 0.5rem !important; right: 0.66rem !important; }
.pin-sw          { position: fixed !important; bottiesm: 0.5rem !important; left: 0.66rem !important; }
.pin-w, .pin-e   { display: flex !important; flex-flow: column !important; align-items: center !important; justify-content: center }

/** Font definitions. */
@font-face { font-family: "sans"; font-style: normal; font-weight: 100 1000;
  src: url("/font.woff2") format("woff2 supports variations"),
       url("/font.woff2") format("woff2-variations"); }
@font-face { font-family: "sans"; font-style: italic; font-weight: 100 1000;
  src: url("/italic.woff2") format("woff2 supports variations"),
       url("/italic.woff2") format("woff2-variations"); }

/** Global definitions. */
* {
  font-family:     sans, sans-serif;
  box-sizing:      border-box;
  scrollbar-width: thin;
}

/** Page styles. */
html {
  box-shadow: 0.5rem 0.5rem 1rem #0001 inset;
  margin:     0;
  padding:    0;
  font-size:  14px;
}

body {
  color:            #444;
  gap:              1rem;
  margin:           0 auto;
  overflow-x:       hidden;
  background-size:  cover;
  background-color: #65b34c;
  background-image: url('bg.svg');
}

/** Element styles. */
a {
  &[href] {
    color: #090;
  }
  &.help {
    color: #777;
    &:hover { color: #000; }
  }
}
h1 {
  color: #aaa;
  margin: 0;
  font-weight: normal;
}
h2 {
  margin: 2rem 0.5rem 1.5rem;
  color: #fff;
  text-shadow: 1px 1px 1px #0004;
  .app & {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-flow: row nowrap;
  }
  .app &:after {
     content: ' ';
     display: inline-block;
     background: linear-gradient(to right, #fff4, #fff1);
     height: 1px;
     flex-grow: 1;
  }
}
h3 {
  text-shadow: 1px 1px 1px #0004;
  .chain &.name {
    margin: 0.166rem 0;
  }
  .app & {
    margin: 2rem 0.5rem 1.5rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-flow: row nowrap;
  }
  .app &:after {
     content: ' ';
     display: inline-block;
     border-top: 1px solid #fff4;
     flex-grow: 1;
  }
}
input, select {
  &, textarea {
    border:     1px solid #8884;
    box-shadow: 3px 3px 6px #8882;
    padding:     0.33rem 0.5rem;
    line-height: 1.33rem;
  }
  &, label {
    &:hover { background: #fff1 };
  };
  /*&::placeholder { text-decoration: underline; };*/
  &:focus::placeholder { text-decoration: none; }
}
input[type=checkbox] {
  width:  1rem;
  height: 1rem;
  margin: 0;
  &.collapse {
    width: 1rem;
    height: 1rem;
    position: relative;
    display: inline-block;
  }
}
noscript {
  display: inline-block;
  inset: 0; z-index: 1000; background: #0004; backdrop-filter: blur(0.25rem);
  font-weight: 350;
  color: #fff; border: 1px solid tomato; padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}
code {
  border: 1px solid #fff5;
  background: #0001;
  font-family: monospace;
  border-radius: 4px;
  padding: 0 4px;
  /*font-size: 0.75em;*/
}
button {
  &.pill {
    background: none;
    color: #fff;
    border: 1px solid #fffa;
    padding: 0.33rem 0.5rem;
    border-radius: 2rem;
    opacity: 0.8;
    &:hover { opacity: 1 }
  }
}
nav {
  &.header {
    align-items:     center;
    display:         flex;
    justify-content: space-between;
    left:            0;
    padding:         0.5rem;
    right:           0;
    top:             0;
    z-index:         10000000;
    background:      radial-gradient(at bottom, #3540 50%, #3545),
                     linear-gradient(0deg, #41674088, #638762aa 2rem);
    & > * {
      backdrop-filter: blur(2px) brightness(0.99) saturate(1.1);
      border-radius: 3px;
      border: 1px solid #fff3;
      background: #00000009;
    }
  }
}
pre.sh {
  border: 1px solid #dfda;
  box-shadow: 0 3px 2px #0001;
  max-width: 80ch;
  flex-grow: 1;
  color: #ffff;
  background: #132a;
  font-family: monospace;
  margin: 1rem 0;
}
textarea {
  gap:             1rem;
  font-size:       1.16rem;
  line-height:     1.25;
  border:          none;
  box-shadow:      none;
  /*background:      none;*/
  font-family:     monospace;
  white-space:     pre;
  scrollbar-width: initial;
  &:focus { background: #fff; }
  .programs & { min-width: 80ch; }
}
p {
  .program-form & {
    padding: 0;
    margin: 0 0 0.5rem 0 !important;
  }
}

/** Component styles. */
.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.box {
  background:linear-gradient(180deg, #fff8, #fff4);
  box-shadow:3px 3px 3px #5551;
  border-width:1px;
  border-style:solid;
  border-top-color:#ffffffff;
  border-left-color:#ffffff88;
  border-bottom-color:#00000028;
  border-right-color:#00000022;
}
.help,
.links {
  color: #fff;
  svg { fill: #fff }
}
a.help,
.links a {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  text-decoration: none !important;
  padding: 0 0.5rem;
  align-items: center;
  font-weight: bold!important;
}
a.help {
  padding: 0 0.75rem !important;
  gap: 1.25rem !important;
}
.banner {
  flex-grow: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #353b;
  backdrop-filter: blur(3px);
  z-index: 1000000;
  text-shadow: 1px 1px 0 #000;
  font-weight: semibold;
}
.hero {
  gap: 2rem !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.collapsible {
  max-width:  100%;
  max-height: 100%;
  /*transition: max-width 0.33s ease-out, max-height 0.33s ease-out, opacity 0.33s ease-in;*/
  .collapsed & {
    overflow: hidden;
    max-height: 0;
    max-width:  0;
    opacity:    0;
    * { overflow: hidden; }
  }
}
.handle-v, .handle-h {
  min-width: 1.5rem;
  min-height: 2rem;
  display: flex;
  svg {
    width: 1.66rem;
    height: 2rem
  }
}
.handle-h {
  flex-grow: 1
}
.handle-v {
  z-index: 1000;
  flex-flow: column nowrap;
  align-items: center;
  background: none;
  border: none;
  margin-left: -0.5rem;
  padding-left: 0.5rem;
  padding-right: 0;
  .grow {
    align-self: stretch;
  }
  .collapsed & .grow {
    display: none;
  }
  &:hover, &:active, &:focus {
    cursor: pointer;
    .icon, .grow {
      background: #fff2;
      box-shadow: 1px 1px 1px #0002;
    }
  }
}

/** FIXME: Remove #id-based styles. */
.view-main {
  align-items:     center;
  border-radius:   1rem;
  border:          1px solid rgba(221, 255, 221, 0.667);
  display:         flex;
  flex-flow:       column nowrap;
  gap:             1;
  justify-content: center;
  margin:          0 auto 4rem;
  min-width:       50rem;
  overflow:        visible;
  position:        relative;
  background:      radial-gradient(at top, #ffffff1c 70%, #fff0), radial-gradient(at top, #fff1 50%, #fff0), linear-gradient(to bottom right, #0402, #0204),
                   radial-gradient(at left, #0000, #2311),
                   radial-gradient(at bottom, #65b34c, #77b377),
                   radial-gradient(circle at top, #ddd8, #7778);
  p {
    color: white;
    text-shadow: -1px -1px 0 #0004;
    margin: 0.5rem;
    a { color: white }
  }
}

/** Brand styles. */
#brand {
  gap: 0.5rem
}
.logo {
  width:               24rem;
  min-height:          24rem;
  margin:              0 auto;
  background:          url("/logo.svg");
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center;
  filter: drop-shadow(1px 1px 1px #0005);
}
.wordmark {
  width:               30rem;
  margin:              0.75rem 1.25rem 3px;
  min-height:          5rem;
  background:          url("/wordmark.svg");
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center;
  filter: drop-shadow(1px 1px 1px #0005);
  border-bottom: 2px solid #fff8;
  border-top: 2px solid #fff8;
}
.subtitle {
  &, & * { color: #fff !important; }
  h1 { font-size: 2rem !important; font-weight: 900 }
  align-self: stretch;
  padding: 0.5rem;
  font-size:2rem;
  line-height:1;
  font-weight:400;
  color:#fff;
  text-decoration:none;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  /*border-bottom: 1px solid #fff;*/
}
.hackbg {
  /*background: linear-gradient(to bottom, rgba(144, 19, 254, 1), rgba(144, 19, 254, 0));*/
  letter-spacing: 0;
  font-weight: normal;
  padding: 0.66rem 1rem;
  margin: 0;
  border-bottom: none;
  text-shadow: 1px 1px 0 #0008;
  color: #fff;
  &:hover {
    background: linear-gradient(168deg, #fff9, #0808 57%, #a108 90%);
  }
  strong {
    font-weight: 800;
  }
}
a.custom.work {
  width: 60ch;
  display: block;
  text-decoration: underline !important;
  margin: 0 auto;
  line-height: 1.5;
  /*margin: 0 1rem !important;*/
}

.nav {
  align-items:  center;
  min-height:   1.5rem;
  text-shadow:  1px 1px 0 #0008;
  flex-shrink:  0;
  color:        #fff;
  user-select:  none;
  padding: 0 0 1rem 0;
  /*background: #fff1;*/
  /*border: 1px solid #fff3;*/
  /*border-radius: 1px;*/
  /*box-shadow: 2px 2px 5px #0002;*/
  a { color: #fff }
  justify-content: space-around;
  display:   flex;
  flex-flow: row nowrap;
  padding-top: 0;
  margin: 0.5rem 0.5rem 0;
  .logo { margin: 1rem 0 0 }
  & > .col { flex-flow: row nowrap; align-items: center; }
  .hackbg { margin-top: 0 }
}

.buttons {
  a, button {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background: none;
    border: none;
    box-shadow: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    margin: 0;
    text-shadow: 0 1px 1px #0008;
    text-align: center;
    gap: 0.5rem;
    &:hover {
      background: linear-gradient(-15deg, #fff2, #fff1);
      backdrop-filter: blur(4px);
    }
    .icon {
      padding: 0.25rem;
      width: 2rem;
      height: 2rem;
      box-sizing: content-box;
    }
  }
}

/** Domain styles. */
.chain {
  background: #0003;
  color: white;
  padding: 0.5rem 1rem;
  border-top: 1px solid #fff4;
  &.disabled { opacity: 0.66 }
  &.disableder { opacity: 0.33 }
}
.connections {
  align-items:     stretch;
  align-self:      stretch;
  color:           #fff;
  display:         flex;
  flex-flow:       row wrap;
  flex-grow:       1;
  font-size:       15px;
  gap:             1.5rem;
  justify-content: center;
  padding:         0 1.5rem 2rem;
  strong, .address {
    color: #fff
  }
}
.view-chains,
.view-users {
  display: flex; align-items: center; justify-content: center
}
.user {
  flex-grow: 1;
  color: #ffff;
  background: #0001;
  box-shadow: -3px -2px 6px #0102, 1px 2px 6px #4042;
  padding: 0.66rem 0.45rem;
  border: 1px solid #fff4;
  line-height: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 1rem;
  margin-bottom: 0.5rem;
  & > section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-family: monospace;
    gap: 0.5rem
  }
  input {
    line-height: 1;
    flex-grow: 1;
    background: #fff1;
    border-bottom: 1px solid #fff8;
    &::placeholder {
      opacity: 0.8;
      text-decoration: none
    }
  }
  .name {
    width: 4rem;
    padding: 0.25rem 2.5rem;
    border-radius: 3px;
    background: #0104;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .log {
    border-radius: 0.5rem;
    background: #fffc;
    border: 1px solid #fff;
    min-height: 20rem;
    min-width: 10rem;
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: center;
    color: #222;
    margin-bottom: -0.33rem;
    display: none;
  }
  input.chat {
    width: 5rem;
  }
  .address {
    font-family: monospace;
    background: #0003;
    padding: 0.5rem 0.75rem 0.325rem;
    border-top: 1px solid #fff3;
    border-bottom: 1px solid #fff3;
    margin: 0 -0.25rem;
  }
}

.view-editors {
  align-items:     center;
  color:           #fff;
  display:         flex;
  flex-flow:       column nowrap;
  gap:             1px;
  justify-content: center;
  min-height:      36rem;
  position:        relative;
  background:      radial-gradient(at top,          #0001, #0002),
                   radial-gradient(at bottom right, #fff2, #fff0),
                   radial-gradient(at top left,     #3544, #3542),
                   #3541;

  .loading {
    color: #fff;
    margin: 1rem auto;
    font-size: 2rem;
  }

  .editors {
    align-items:      stretch;
    display:          flex;
    flex-flow:        column nowrap;
    gap:              2rem;
    justify-content:  stretch;
    box-shadow:       3px 3px 6px #0002;
    border:          1px solid #ffffff10;
    display:          flex;
    flex-flow:        column;
    gap:              1px;
    padding:          0 1.5rem 1.5rem;
    select {
      padding-left: 0.25rem
    }
    & > .box {
      /*background: linear-gradient(to right, #d8d8d8, #c8c8c8);*/
      margin-right: 0.5rem;
      border-top: none;
    }
    .project {
      input, textarea, select {
        border:     none;
        box-shadow: none;
        &:hover, .field:hover & {
        }
        &:focus, &:focus-visible, &:hover:focus, .field:hover, &:focus {
          color:      #fff !important;
          outline:    none;
          &::placeholder {
            /*color: #fa0f;*/
            text-shadow: 1px 1px 0 #000;
          }
        }
      }
    }
  }
}
textarea {
  color: #ffa;
  background: linear-gradient(to right, #132, #243) !important;
  padding: 0.5ch;
  &:hover, .field:hover & {
    background: #354 !important;
  }
  &:focus, &:active, &:focus-visible, &:focus-within, &:hove:focus {
    background: #132 !important;
  }
}

.app {
  align-items: stretch;
  align-self:  stretch;
  background:  radial-gradient(at top left, #ffffff10, #ffffff00 50%), linear-gradient(to bottom, #00000008, #00000004), #00000002;
  box-shadow:  0 0 3px #00000011 inset;
  display:     flex;
  flex-flow:   column;
  flex-grow:   1;
  height:      auto;
  max-width:   300ch;
  min-width:   30ch;
  overflow:    hidden;
  padding:     0;
}

.features {
  margin:     0;
  flex-grow:  1;
  list-style: none;
  display:    flex;
  flex-flow:  column;
  padding:    0;

  &#features {
    flex-flow: row wrap;
    gap: 2rem;
    padding: 0 2rem;
    &>.features {
      /*max-width: 42rem;*/
      gap: 1.33rem;
    }
  }

  details & {
    margin: 0 -0.5rem;
  }

  .icon { width: 1.25rem; height: 1.25rem }

  a[href] {
    text-decoration: none;
    font-weight: 500;
    color: #dfd;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    .links & { padding-right: 0 }
  }

  details {
    color: #fff;
    border-top: 1px solid #fff6;
    margin-bottom: 1rem;
    padding: 0;
    font-weight: 500;
    summary {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .help { color: #fffc; &:hover { color: #fff } }
    }
  }
}


.feature {
  align-items: stretch;
  display:     flex;
  flex-flow:   column nowrap;
  margin:      0.5rem 0 0;
  min-height:  1.33rem;
  padding:     0 1rem 0 0.33rem;
  user-select: none;
  /*background:  #eeea;*/

  &[data-depth="1"] {
    padding-left: 0.75rem;
  }

  &[data-depth="1"] + &[data-depth="0"] {
    margin-top: 0.5rem; border-top: 1px solid #8888;
  }

  &.disabled {
    opacity: 0.8
  }

  .links {
    margin-top: 0.25rem;
    margin-left: 0.75rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 0.5rem;
  }

  select {
    padding: 0.25rem; margin-left:-1rem
  }

  label {
    align-items:center;padding:0.1rem 0.25rem;
    user-select:none;
    /*font-size:1.5rem;*/
    display:flex;flex-flow:row nowrap;
    white-space:nowrap;font-weight:600;min-width:14ch;

    &>input {
      margin-right: 0.25rem
    }

    .feature.disabled & {
      background:none;border-radius:0.25rem;opacity:0.9;
    }
  }

  a.flex .icon {
    margin-right: 0.25rem; margin-left: 0.75rem;
  }

  p {
    margin-top: 0 !important;
    margin-bottom: 0.33rem !important;
    margin-left: 1.5rem !important;
  }
}

.programs {
  gap: 2rem;
}

.monaco-editor {
  --vscode-editor-background: transparent !important;
  --vscode-editorGutter-background: linear-gradient(to right, #0000, #0002) !important;
  * {
    font-family: monospace;
    font-size: 1.15rem;
  }
  .line-numbers {
    background: #fff0
  }
  .collapsed & {
    display: none;
  }
}

.editor-wrapper {
  margin:        0 0 0.5rem -1.5rem;
  background:    #fff4;
  .collapsed & {
    min-height: 0;
    overflow:   hidden;
    display:    none;
    visibility: hidden;
  }
}

.fields {
  border-bottom: 1px solid #8888;
  input, select {
    margin-left: -0.5rem;
    padding-left: 0.75rem
  }
}
.field {
  display:   flex;
  flex-flow: row nowrap;
  &[data-disabled] {
    display: none;
    visibility: hidden;
  }
  .field-body {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: stretch;
  }
  .field-editor {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    textarea { flex-grow: 1 }
  }
  .field-sidebar {
    .collapsed & {
      display: none;
      visibility: hidden;
    }
  }
  .field-content {
    gap:         1.5rem;
    display:     flex;
    flex-flow:   column;
    align-items: stretch;
  }
  .name {
    user-select:    none;
    padding:        0 0.33rem;
    text-transform: none;
    font-weight:    bold;
    font-weight:    550;
    letter-spacing: 0.05rem;

    .view-editors & {
      text-transform: none;
      align-items:    center;
      display:        flex;
      flex-flow:      row nowrap;
    }
  }
  &.head {
    color: #fff;
    .name {
      color: #fff;
      margin: 0 0.5rem 0 0;
      &.title { font-weight: bold }
    }
    &:focus-within {
      background: linear-gradient(to right, #0006, #0004);
    }
    input, select {
      color: #fff !important;
      flex-grow: 1;
      background: linear-gradient(to right, #0002, #0000);
      &::placeholder { opacity: 0.8; }
      &:hover, &:focus, &:active, &:focus-visible {
        background: linear-gradient(to right, #0004, #0000) !important;
        outline: none;
        color: #fff;
        &::placeholder { color: #fa0f !important; }
      }
    }
  }
  &.file {
    /*min-width: 60ch;*/
    /*max-width: 100ch;*/
    .programs & {
      min-width: 100ch;
      padding-right: 2rem;
      /*max-width: 200ch;*/
    }
    flex-shrink: 0;
    flex-flow:  row nowrap;
    border-top: 1px solid #8884;
    border: 1px solid white;
    min-height: 2rem;
    background: #ddd;
    padding: 0.33rem;
    border-radius: 3px;
    .name {
      min-height: 2rem;
      padding: 0.25rem 0.33rem;
    }
    &.collapsed { background: linear-gradient(to right, #dddd, #ddda); }
    color: #333;
    &:focus-within {
      background: #eeee;
      color: #333;
      .name { color: #222; text-shadow: 1px 1px 3px #0002 }
    }

    textarea {
      font-size: 1rem;
      border-radius: 3px;
      margin-bottom: 0;
      padding-left: 0.25rem;
      min-height: 35ch;
      &:focus-visible { outline: none }
    }

    &.collapsed textarea,
    &.collapsed .hex-row {
      display: none; visibility: hidden; max-height: 0; max-width: 0;
    }

    > ul {
      list-style: none;
      padding:    0 0.5rem;
      display:    flex;
      flex-flow:  row nowrap;
      margin-top: 0.25rem;
      min-height: 1rem;

      > li {
        margin-right: 1rem
      }
    }

    input {
      padding: 0.25rem 0.5rem;
    }
    select {
      padding: 0.25rem;
    }
    input, select {
      background: #fff4;
      border: 1px solid transparent;
      box-shadow: none;
      &:focus {
        background: #fff; outline: none
      }
    }

    &:hover {
      input, select {
        background: #fff0;
        /*border-bottom: 1px dotted #0008;*/
        &:focus {
          background: #fff;
        }
      }
    }
  }
}
.files {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  flex-grow: 1;
}

.fn {
  input, textarea { background: none }
  .keyword, input { padding: 0.25rem; height: 1.5rem; line-height: 1rem; }
  .keyword { display: inline-block; font-style: italic }
  &:hover { input, textarea { background: none } }
  .command { opacity: 0.8 }
  &:hover { .command { opacity: 0.9 } }
  .command:hover { opacity: 1 }
  .file:hover & { background: #fff4 }
  &:focus-within { background: #fff }
}
.project-title {
  font-weight: 250;
}
.hex-row {
  font-family: monospace; white-space: pre;
  padding: 0 0.5rem; font-weight: 600
}
.phase-form {
}

pre.compile-errors {
  white-space: pre-wrap;
  overflow:    auto;
  font-family: monospace;
  align-self:  center;
  background:  linear-gradient(to left, #523, #423, #423 99%, #f00);
  padding: 0 1rem;
  color: #eff;
  margin: 0 -0.5rem;
  /*background:  #621a;*/
  /*border:      1px solid #f20;*/
}

.select-pubkey,
.select-pubkey-hash,
.select-sender
{
  align-items:stretch;
  input.pubkey {
    display: none
  }
  /*&:focus-within input.pubkey { display: block; }*/
}

.witness {
  display: flex;
  flex-flow: row nowrap; margin-bottom: 1px;
  select {
    width: 4rem;
  }
}
.simf-result {
  padding: 0.125rem 0.33rem 0.375rem 0.75rem;
  gap: 0.5rem;
  & > strong { opacity: 0.8; width: 4.5rem };
  & > div { font-family: monospace };
}
.layer {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  p {
    margin-top: 0 !important; margin-bottom: 1rem !important; line-height: 1.5;
    &.smol { margin-bottom: 0rem !important; }
  }
}
.textbox {
  padding: 0 2rem 0.5rem;
}
.program-form {
  /*color:         #fff;*/
  gap:           0;
  display:       flex;
  flex-flow:     row wrap;
  margin-bottom: 1.5rem;
  &:last-child {
    margin-bottom: 0;
  }
  h3 {
    opacity:     0.75;
    display:     block;
    font-weight: normal;
    gap:         0;
    margin:      0.5rem 0.5rem 0;
    text-shadow: none;
  }
  padding:   1px;
  gap:       0.5rem;
  min-width: 69ch;
  input, select, button {
    border-radius: 3px;
    font-weight:   bold;
    text-shadow:   0 1px 0 #0002;
    background:    #00000030;
    padding:       0.5rem;
    flex-grow:     1;
    &.balance { width: 16ch; text-align: right; }
    /*transition:    background-color 0.33s ease-in;*/
    &[disabled] {
      opacity: 0.8
    }
    &:hover {
      background: #00000040;
    }
    &:focus, &:focus-within, &:focus-visible {
      /*color: #fff;*/
      background: #0006;
      outline: none;
    }
  }
  label {
    align-items:     stretch;
    align-self:      stretch;
    border-radius:   3px;
    border:          1px solid #4448;
    display:         flex;
    flex-flow:       column nowrap;
    justify-content: space-between;
    padding:         0.25rem;
    gap:             0.25rem;
    /*transition:      background-color 0.33s linear;*/
    &:focus-within {
      background: #fff4;
    }
    &.tx-preview {
      /*padding-bottom: 0;*/
      gap: 0;
    }
    label {
      padding: 0;
      margin: 0;
      border: 0;
      gap: 0.25rem;
    }
    strong, em {
      min-width: 12ch;
      display: inline-block;
      margin-right: 0.5rem;
      padding: 0 0.5rem 0;
    }
  }
  button {
    margin: 0 0.5rem 0.25rem;
    border: 1px solid #9f84;
    padding: 0.5rem 1rem;
    flex-grow: 0;
    text-shadow:   1px 1px 1px #000;
    box-shadow:    1px 1px 1px #000;
    border-radius: 3px;
    color:         #fff;
    background:    linear-gradient(to bottom, #1509, #040a);
    &:hover {
      background:    linear-gradient(to bottom, #381b, #031b);
    }
  }
  .title {
    padding: 1px 0.5rem; margin-bottom: 0.5rem;
  }
}
.utxos,
.inputs,
.outputs {
  margin: 0;
  padding: 0rem 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.25rem 0;
    gap: 0.5rem;
    strong, span {
      min-width: auto;
      padding-left: 0;
      width: 6ch;
    }
    strong {
      font-weight: 500;
    }
    input {
      padding: 0 0.5rem !important;
      text-align: right;
    }
  }
}

.errorbox {
  max-width: 100%;
  white-space: pre-wrap;
  background: #553030;
  margin: 1rem;
  border-radius: 3px;
  border: 1px solid tomato;
  font-family: monospace;
  font-size: 1.166rem;
}

.docs {
  background: #c0c0c0; overflow: auto; flex-grow: 1
}
.namespaceSection {
  column-count: 4;
  column-rule: 1px solid #0808;
  background: #fff8;
  @media screen and (min-width: 1920px) {
    column-count: 5;
  }
  @media screen and (min-width: 2200px) {
    column-count: 6;
  }
  @media screen and (min-width: 2400px) {
    column-count: 7;
  }
  @media screen and (max-width: 1440px) {
    column-count: 3;
  }
  @media screen and (max-width: 1024px) {
    column-count: 2;
  }
  @media screen and (max-width: 640px) {
    column-count: 1;
  }
  .namespaceItem {
    flex-flow: column nowrap;
    padding: 0.25rem 1.2rem 0.25rem 1.75rem;
    break-inside: avoid;
    .namespaceItemContent {
      a { font-weight: 450; };
      input[type="checkbox"] { margin-right: 0.75rem; }
    }
    .namespaceItemContentSubItems {
      display: flex; flex-flow: row wrap; gap: 0.5rem; list-style: none;
      padding: 0; margin: 0.5rem 0.25rem; font-size: 0.875rem;
    }
    &[data-ns] {
      display: none;
    }
    &[data-kind="Namespace"],
    &[data-kind="FunctionType Alias"] {
      .namespaceItemContent>a {
        display: flex;
        align-items: center;
        font-weight: 650;
        &::after {
          content: " "; background: #0006; margin: 0 0.5rem;
          min-width: 1rem; height: 1px; display: flex; flex-grow: 1;
        }
      }
    }
    &[data-kind="Namespace"] {
      padding-left: 0;
      .namespaceItemContent>a {
        font-weight: 750;
      }
    }
    &[data-kind="FunctionType Alias"] {
      .namespaceItemContent>a::after {
        background: #0003;
      }
    }
    p {
      margin: 0.25rem 0;
    }
    .docNodeKindIcon {
      float: right;
      display: flex;
      gap: 0.5rem;
      & > div { background: #0802; color: #585; padding: 0 0.25rem; }
    }
  }
}

/** Aspect classes. */

input,
select,
textarea,
button.pill,
.view-editors .editors,
.size-1 { font-size: 1rem !important; }

.utxos li strong,
.utxos li span,
.inputs li strong,
.inputs li span,
.outputs li strong,
.outputs li span,
.feature p,
.size-1-15 {
  font-size: 1.15rem !important;
}

.hackbg,
pre.sh,
.program-form label strong,
.size-1-20 {
  font-size: 1.20rem !important;
}

.chain h3.name,
.chain,
.user .name,
.field.file .name,
.feature .links,
.feature p,
.utxos,
.inputs,
.outputs,
.buttons a,
.buttons button,
.project-title,
.program-form,
.program-form input,
.program-form button,
.program-form select,
.size-1-25 {
  font-size: 1.25rem !important;
}

.user,
.program-form .title,
.features,
.field .head,
.field .head input,
.field .head input::placeholder,
.field .head select::placeholder,
.layer p.smol,
.hero p,
.size-1-33 {
  font-size: 1.33rem !important;
}

.textbox p,
.view-editors,
.instances .empty,
.program-form input.balance,
.hero h2,
.size-1-50 {
  font-size: 1.50rem !important;
}

h1,
h3,
.size-1-66 {
  font-size: 1.66rem !important;
}

h2,
.size-1-75 {
  font-size: 1.75rem;
}

body,
nav.header,
pre.compile-errors,
.view-editors,
.features details summary > .row,
.namespaceSection,
.view-main,
.fullwidth {
  width: 100%;
}

html,
.fullheight {
  height: 100%;
}

html,
body,
.view-main,
.min-fullheight {
  min-height: 100%;
}

.errorbox,
.namespaceSection,
pre.sh,
.hero,
a.custom.work,
.pad-1 {
  padding: 1rem !important;
}

.noborder {
  border: none !important;
}

.chain,
.editor-wrapper,
.handle-v .icon,
.handle-v,
.instances,
.program-form,
.user,
pre.compile-errors,
pre.sh,
.rounded {
  border-radius: 3px;
}

/** Media queries. */

@media screen and (min-width: 1920px) {
  .app, .connections {
    justify-content: flex-start;
  }
  .connections {
    flex-flow: column nowrap;
  }
  .view-main {
    flex-flow: row nowrap;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1600px) {
  .field .field-content {
    flex-flow: column;
    align-items: stretch;
  }
}
@media screen and (min-width: 1660px) {
  .field.file textarea {
    font-size: 1.20rem !important
  }
}
@media screen and (max-width: 1440px) {
  body {
    flex-flow: column;
    .buttons {
      align-self: center;
      margin-top: 0;
      flex-flow:  row nowrap;
      max-height: 100%;
    }
  }
  #app > .row {
    flex-flow: column
  }
}
@media screen and (max-width: 960px) {
  .layer {
    flex-flow: column;
    align-items: stretch;
    gap: 0;
  }
}
