*
{ box-sizing:border-box; }

html,
body
{ min-height: 100%;
  margin:     0;
  padding:    0; }

h1
{ margin:0; }

input,
textarea,
select
{ margin-right: 1rem;
  padding:      0.5rem; }

.flex
{ display: flex; }

.row
{ display: flex; flex-flow: row nowrap }

.col
{ display: flex; flex-flow: column nowrap }

.wrap
{ flex-wrap: wrap }

.grow
{ flex-grow: 1 }

.field.file ul
{ list-style: none; padding: 0 0.5rem; display: flex; flex-flow: row wrap; margin-top: 0.25rem; min-height: 1rem;
  > li { margin-right: 1rem } }

.field[data-disabled]
{ display: none; visibility: hidden; }

#sidebar,
#editors
{ overflow: auto; }

.features
{ padding:    0;
  margin:     0 0.33rem 1rem 0;
  flex-grow:  1;
  list-style: none;
  display:    flex;
  flex-flow:  column;
  @media screen and (max-width: 1280px)
  { width:     24rem;
    flex-flow: row wrap; } }
