.rel
{ position: relative; }

.abs
{ position: absolute; }

.flex
{ display: flex; }

.row
{ display: flex; flex-flow: row nowrap }

.row-rev
{ display: flex; flex-flow: row-reverse nowrap }

.col
{ display: flex; flex-flow: column nowrap }

.wrap
{ flex-wrap: wrap }

.grow
{ flex-grow: 1 }

.around
{ justify-content: space-around }

.between
{ justify-content: space-between }

.justify-evenly
{ justify-content: space-evenly; }

.justify-center
{ justify-content: center; }

.align-center
{ align-items: center; }

.align-start
{ align-items: flex-start; }

.align-stretch
{ align-items: stretch; }

.gap
{ gap: 0.5rem; }

.overflow-hidden
{ overflow: hidden }

.pin-nw 
{ position: fixed; top: 0.25rem; left: 0.25rem; z-index: 2 }

.pin-n
{ position: fixed; top: 0.5rem; left: 0.5rem; right: 0.5rem; z-index: 1; }

.pin-ne
{ position: fixed; top: 0.5rem; right: 0.5rem; z-index: 2 }

.pin-w
{ position: fixed; top: 0.5rem; bottom: 0.5rem; left: 0.66rem; z-index: 1 }

.pin-e
{ position: fixed; top: 0.5rem; bottom: 0.5rem; right: 0.66rem; z-index: 1 }

.pin-se
{ position: fixed; bottom: 0.5rem; right: 0.66rem; z-index: 1 }

.pin-sw
{ position: fixed; bottom: 0.5rem; left: 0.66rem; z-index: 1 }

.pin-w,
.pin-e
{ display: flex; flex-flow: column; align-items: center; justify-content: center }
