@media screen and (max-width: 1440px) {
  #editors {
  }
  #sidebar {
    max-width: auto;
    > .row {
      flex-flow: column
    }
  }
  .nav {
    /*min-height: 5rem;*/
    border-radius: 0.25rem;
    /*flex-flow: row nowrap;*/
    .logo {
      height: 1rem;
    }
    .buttons {
      /*flex-flow: row nowrap;*/
      /*justify-content: space-around;*/
      a, button { 
        /*flex-flow: column;*/
        padding: 0.5rem 1rem;
      }
    }
  }
}
 
@media screen and (min-width: 1441px) {
  #sidebar,
  #editors {
    height: 100%;
    /*max-height: 100%;*/
    /*align-self: center;*/
  }
  #navbar {
    align-self: stretch;
    flex-shrink: 0;
  }
}
