@font-face
{ font-family: "sans"; font-style: normal; font-weight: 100 1000;
  src: url("/font.woff2")   format("woff2 supports variations"),
       url("/font.woff2")   format("woff2-variations"); }
@font-face
{ font-family: "sans"; font-style: italic; font-weight: 100 1000;
  src: url("/italic.woff2") format("woff2 supports variations"),
       url("/italic.woff2") format("woff2-variations"); }

*
{ font-family:sans, sans-serif;
  box-sizing: border-box;
  scrollbar-width: thin }

html,
body
{ font-size: 18px;
  height:    100%;
  margin:    0;
  padding:   0; }

html
{ background-color: #65b34c;
  background-size:  cover;
  background-image:
    linear-gradient(to top, #65b34c, #77b377),
    radial-gradient(circle at top, #ddd8, #7778),
    url('bg.svg'); }

body
{ color:           #444;
  display:         flex;
  flex-flow:       row;
  justify-content: center;
  background:      radial-gradient(at left, #0000, #2311);
  overflow:        hidden; 
  box-shadow: 0.5rem 0.5rem 1rem #0001 inset;
}

a[href]
{ color: #090; }

h1
{ color: #aaa; }

input,
textarea,
select
{ border:     1px solid #8884;
  box-shadow: 3px 3px 6px #8882;
  &, label
  { &:hover { background: #fff8 }; }; }

h1
{ margin: 0;
  font-size: 1.66rem;
  font-weight: normal; }

input,
textarea,
select
{ font-size:   1rem;
  padding:     0.33rem 0.5rem;
  line-height: 1.33rem;
  &::placeholder { text-decoration: underline; };
  &:focus::placeholder { text-decoration: none; } };

/*button {margin-top:0.25rem;background:#fff;border:1px solid #aaa;background:#4a4;color:#fff;padding:0.5rem 1rem;border:none;border-radius:0.25rem;box-shadow:3px 3px 9px #3333; text-transform:uppercase;letter-spacing:0.1rem;font-size:1rem}*/

noscript {
  display: inline-block;
  inset: 0; z-index: 1000; background: #0004; backdrop-filter: blur(0.25rem);
  font-weight: 350;
  color: #fff; border: 1px solid tomato; padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

input[type=checkbox]
{ width:  1rem;
  height: 1rem;
  margin: 0; }

.rel
{ position: relative; }

.abs
{ position: absolute; }

.flex
{ display: flex; }

.row
{ display: flex; flex-flow: row nowrap }

.row-rev
{ display: flex; flex-flow: row-reverse nowrap }

.col
{ display: flex; flex-flow: column nowrap }

.wrap
{ flex-wrap: wrap }

.grow
{ flex-grow: 1 }

.around
{ justify-content: space-around }

.between
{ justify-content: space-between }

.justify-evenly
{ justify-content: space-evenly; }

.justify-center
{ justify-content: center; }

.align-center
{ align-items: center; }

.align-start
{ align-items: flex-start; }

.align-stretch
{ align-items: stretch; }

.gap
{ gap: 0.5rem; }

.overflow-hidden
{ overflow: hidden }

input[type=checkbox].collapse
{ width: 1rem;
  height: 1rem;
  position: relative;
  display: inline-block; }

#main {
  flex-grow: 1;
  border: 0.5rem solid transparent;
  overflow: auto;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  padding: 0;
}

#sidebar,
#editors
{ overflow: auto; }

.box {
  background:linear-gradient(180deg, #fff8, #fff4);
  box-shadow:3px 3px 3px #5551;
  border-width:1px;
  border-style:solid;
  border-top-color:#ffffffff;
  border-left-color:#ffffff88;
  border-bottom-color:#00000028;
  border-right-color:#00000022;
}

.collapsible {
  max-width:  100%;
  max-height: 100%;
  /*transition: max-width 0.33s ease-out, max-height 0.33s ease-out, opacity 0.33s ease-in;*/
  .collapsed & {
    overflow: hidden;
    max-height: 0;
    max-width:  0;
    opacity:    0;
    * { overflow: hidden; }
  }
}
@media screen and (max-height: 480px) {
  .nav {
    display:   flex;
    flex-flow: row nowrap;
    .buttons {
      align-self: center;
      margin-top: 0;
      flex-flow:  column wrap;
      max-height: 100%;
    }
  };
}

@media screen and (max-width: 1440px) {
  body {
    flex-flow: column;
    .buttons {
      align-self: center;
      margin-top: 0;
      flex-flow:  row nowrap;
      max-height: 100%;
    }
  }
  #main { flex-grow: 1 }
  .nav {
    justify-content: space-between;
    display:   flex;
    flex-flow: row nowrap;
    padding-top: 0;
    margin: 0.5rem 0.5rem 0;
    .logo { margin: 1rem 0 0 }
    & > .col { flex-flow: row nowrap; align-items: center; }
    .hackbg { margin-top: 0 }
  }
  #sidebar {
    max-width: auto;
    > .row {
      flex-flow: column
    }
  }
}
 
@media screen and (min-width: 1441px) {
  #sidebar,
  #editors {
    height: 100%;
    /*max-height: 100%;*/
    /*align-self: center;*/
  }
  #navbar {
    align-self: flex-start;
    flex-shrink: 0;
    margin: 0 0.5rem;
    padding: 1rem 0;
  }
}
.nav {
  align-items:  center;
  min-height:   1.5rem;
  text-shadow:  1px 1px 0 #0008;
  flex-shrink:  0;
  color:        #fff;
  user-select:  none;
  padding: 0 0 1rem 0;
  /*background: #fff1;*/
  /*border: 1px solid #fff3;*/
  /*border-radius: 1px;*/
  /*box-shadow: 2px 2px 5px #0002;*/
  a { color: #fff }
}

/*.nav, #editors, #sidebar {*/
  /*opacity: 0.9;*/
  /*[>transition: opacity ease-in 0.16s;<]*/
  /*&:hover { opacity: 1 }*/
/*}*/

.logo {
  width:               10rem;
  min-height:          8rem;
  margin:              0 auto;
  background:          url("/logo.svg");
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center;
  align-self:          stretch;
  filter: drop-shadow(1px 1px 1px #0005);
}

.wordmark {
  width:               10rem;
  margin:              -1rem auto 0;
  min-height:          2rem;
  background:          url("/wordmark.svg");
  background-size:     contain;
  background-repeat:   no-repeat; 
  background-position: center;
  align-self:          stretch;
  filter: drop-shadow(1px 1px 1px #0005);
  border-bottom: 1px solid #fff8;
  border-top: 1px solid #fff8;
}

.subtitle {
  align-self: stretch;
  padding: 0 0.5rem;
  font-size:1.25rem;
  line-height:1;
  font-weight:400;color:#fff;text-decoration:none;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  /*border-bottom: 1px solid #fff;*/
}

.hackbg {
  /*background: linear-gradient(to bottom, rgba(144, 19, 254, 1), rgba(144, 19, 254, 0));*/
  font-size: 1.2rem;
  letter-spacing: 0;
  font-weight: normal;
  padding: 0.66rem 0.5rem 0.66rem 1rem;
  margin: 0 0 0.5rem -0.5rem;
  border-bottom: none;
  &:hover {
    background: linear-gradient(to right, transparent, rgb(144, 19, 254), rgb(150, 20, 255));
  }
  strong {
    font-weight: 800;
  }
}

.buttons {
  margin-top: 0.9rem;
  gap: 0.33rem;
  align-self: flex-end;

  a, button
  { color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    background: none;
    border: none;
    box-shadow: none;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: 0.33rem;
    padding: 0.33rem 0.66rem;
    margin: 0;
    text-shadow: 0 1px 2px #0004;
    text-align: center;

    .icon
    { background: linear-gradient(to left, #0002, #fff2), linear-gradient(to top, #0002, #fff2);
      padding: 0.25rem;
      margin: -0.25rem -0.25rem -0.25rem 0;
      box-sizing: content-box;
      border-radius: 1rem; }

    &:hover
    { background: linear-gradient(to left, #0003, #0000); } }

  button
  { font-size: 0.875rem; } }

#sidebar {
  color: #fff;
  padding: 0;
  min-width: 30%;
  max-width: 48%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;

  .field .name {
    margin: 0.5rem 0.25rem
  }

  a[href] {
    text-decoration: none;
    font-weight: 500;
    color: #355;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  details {
    border: 1px solid #fff6;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-weight: 500;
    summary {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      & > .row { width: 100% }
      .help { color: #fffc; &:hover { color: #fff } }
    }
    &[open] {
      background: #ddd;
      color: #333;
    }
  }
}

#features {
  overflow: auto;
  background: #3545;
  padding: 0.5rem 0.5rem 0;
}

.features {
  margin:     0;
  flex-grow:  1;
  list-style: none;
  display:    flex;
  flex-flow:  column;
  padding:    0;
  details & {
    margin: 0 -0.5rem;
  }
}

.feature {
  min-height:  1.33rem;
  margin:      0;
  padding:     0.75rem 0 0.25rem;
  display:     flex;
  flex-flow:   column nowrap;
  padding:     0 0.5rem 0 0;
  align-items: stretch;
  user-select: none;
  margin-top:  0.5rem;
  /*background:  #eeea;*/

  &[data-depth="0"] {
    label { font-weight: 700; }
  }

  &[data-depth="1"] {
    padding-left: 0.75rem;
  }

  &[data-depth="1"] + &[data-depth="0"] {
    margin-top: 0.5rem; border-top: 1px solid #8888;
  }

  &.disabled {
    opacity: 0.8
  }

  .links {
    font-size: 0.875rem;
    margin-top: 0.25rem;
    margin-left: 0.75rem;
    flex-flow: row nowrap
  }

  p {
    font-size: 0.875rem;
    margin: 0.25rem 0.25rem 0.25rem 1.5rem;
  }

  select {
    padding: 0.25rem; margin-left:-1rem
  }

  label {
    align-items:center;padding:0.1rem 0.25rem;
    user-select:none;font-size:0.875rem;display:flex;flex-flow:row nowrap;
    white-space:nowrap;font-weight:600;min-width:14ch;

    &>input {
      margin-right: 0.25rem
    }

    .feature.disabled & {
      background:none;border-radius:0.25rem;opacity:0.75;
    }
  }

  a.flex .icon {
    margin-right: 0.25rem; margin-left: 0.75rem;
  }
}

/*.features.smol*/
/*{ a, p { display: none; visibility: hidden } }*/

.monaco-editor {
  --vscode-editor-background: transparent !important;
  --vscode-editorGutter-background: linear-gradient(to right, #0000, #0002) !important;
  * {
    font-family: monospace;
    font-size: 1rem;
  }
  .line-numbers {
    background: #fff0
  }
  .collapsed & {
    display: none;
  }
}

.editor-wrapper {
  /*resize: vertical;*/
  overflow: auto;
  margin: 0 0 0.5rem -1.5rem;
  border-top: 1px solid #fff8;
  background: #fff4;
  /*max-width: 100%;*/
  .collapsed & {
    min-height: 0;
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

#editors {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  position: relative;
  /*box-shadow: 0.25rem 0 1rem #0002;*/
  /*&:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: 0.5rem;*/
    /*background: linear-gradient(to bottom, #000, #0000);*/
  /*}*/
  /*&:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: 0.5rem;*/
    /*background: linear-gradient(to top, #000, #0000);*/
  /*}*/
}

.editors {
  min-width:  48vw;
  display:    flex;
  flex-flow:  column;
  overflow:   auto;
  border:     none;
  background: #354a;
  padding: 0.5rem;
  gap: 0.5rem;

  &>.box {
    background: linear-gradient(to right, #d8d8d8, #c8c8c8);
    margin-right: 0.5rem;
    border-top: none;
  }

  input, textarea, select
  { border:     none;
    box-shadow: none;
    background: #fff0;
    /*transition: background ease-in 0.16s;*/
    .field:hover &
    { background: #fff8 }
    &:hover
    { background: #fff8 }
    &:focus, &:hover:focus, .field:hover &:focus
    { background: #fff;
      outline:    none;
      &::placeholder {
        color: #fa0f;
        text-shadow: 1px 1px 0 #000;
      } } }

  select
  { padding-left: 0.5rem }

  textarea
  { font-size:       1rem;
    min-height:      1.25rem;
    line-height:     1.25;
    border:          none;
    box-shadow:      none;
    background:      none;
    font-family:     monospace;
    white-space:     pre;
    scrollbar-width: initial;

    &:focus
    { background: #fff; } };
}
.field
{ display:   flex;
  flex-flow: row nowrap;
  &[data-disabled]
  { display: none; visibility: hidden; }
  .name {
    user-select:    none;
    padding:        0 0.33rem;

    #editors & { 
      text-transform: none;
      align-items:    center;
      display:        flex;
      flex-flow:      row nowrap;
    }
  }
  .command
  { display: flex;
    flex-flow: row nowrap;
    align-items: center;
    user-select: none;
    padding: .25rem .5rem .25rem .125rem;
    gap: .125rem;
    border-left: 1px solid #fff;
    border-right: 1px solid #0002;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #0002 inset;
    &:hover { text-decoration: underline; background: #fff3; }

    .icon { margin: 0.25rem 0.125rem 0.25rem 0.25rem }; } }

.field .name {
  text-transform: none;
  color:          #000;
  font-size:      0.875rem;
  font-weight:    bold;
  font-weight:    550;
  letter-spacing: 0.05rem;
}

.field.file .name {
  font-size:  1rem;
  min-height: 2rem;
  padding: 0 0.33rem;
}

.field.head {
  background: #0004;
  .name {
    color: #fff;
    margin: 0 0.5rem;
    &.title { font-weight: bold }
  }
  &:focus-within {
    background: linear-gradient(to right, #0006, #0004); 
  }
  color: #fff;
  input, select {
    color: #fff;
    flex-grow: 1;
    background: linear-gradient(to right, #0002, #0000);
    &:hover, &:focus, &:active, &:focus-visible { background: linear-gradient(to right, #0004, #0000) !important }
    &:placeholder { color: #fffa }
  }
}

.field.file
{ flex-shrink: 0;
  flex-flow:  row nowrap;
  border-top: 1px solid #8884;
  border: 1px solid white;
  min-height: 2rem;
  background: #f0f0f0e0;
  &.collapsed { background: linear-gradient(to right, #fff8, #fff7); }
  color: #333;
  /*transition: background ease-in 0.166s;*/
  /*background: #d4d4d4;*/

  /*&:hover*/
  /*{ background: #fff1 }*/

  &:focus-within
  { background: #fff; color: #333;
    .name { color: #222; text-shadow: 1px 1px 3px #0002 } }

  textarea
  { margin-bottom: 0;
    padding-left: 0.25rem;
    &:focus-visible { outline: none } }

  &.collapsed textarea,
  &.collapsed .hex-row {
    display: none; visibility: hidden; max-height: 0; max-width: 0;
  }

  > ul {
    list-style: none;
    padding:    0 0.5rem;
    display:    flex;
    flex-flow:  row nowrap;
    margin-top: 0.25rem;
    min-height: 1rem;

    > li {
      margin-right: 1rem
    }
  }

  input, select {
    padding: 0.125rem 0.5rem;
    background: none;
    border: 1px solid transparent;
    box-shadow: none;
    &:focus {
      background: #fff; outline: none 
    }
  }

  &:hover {
    input, select {
      background: #fff0;
      border-bottom: 1px dotted #0008;
      &:focus {
        background: #fff;
      }
    }
  }
}

.fields
{ border-bottom: 1px solid #8888;
  input, select { margin-left: -0.5rem; padding-left: 0.75rem } }

.fn {
  input, textarea { background: none }
  .keyword, input { padding: 0.25rem; height: 1.5rem; line-height: 1rem; }
  .keyword { display: inline-block; font-style: italic }
  &:hover { input, textarea { background: none } }
  .command { opacity: 0.8 }
  &:hover { .command { opacity: 0.9 } }
  .command:hover { opacity: 1 }
  .file:hover & { background: #fff4 }
  &:focus-within { background: #fff }
}

#title {
  font-size: 1.25rem;
  font-weight: 250;
}

.witness {
  display: flex; flex-flow: row nowrap; margin-bottom: 1px;
  select {
    width: 4rem;
  }
}

.handle-v,
.handle-h {
  min-width: 1.5rem;
  min-height: 2rem;
  display: flex;
  svg {
    width: 1.25rem; height: 2rem
  }
}
.handle-h {
  flex-grow: 1
}
.handle-v {
  z-index: 1000;
  flex-flow: column nowrap; 
  align-items: center;
  border-right: 1px solid #fff8;
  .collapsed & .grow {
    display: none;
  }
  &:hover {
    background: #fff4;
    cursor: pointer
  }
}
.hex-row
{ font-family: monospace; white-space: pre;
  padding: 0 0.5rem; font-weight: 600 }

.simf-result {
  padding: 0.125rem 0.25rem;
  gap: 0.5rem;
  & > strong { opacity: 0.8; width: 4.5rem };
  border-top: 1px solid #fff8;
  & > div { font-family: monospace };
}

a.help { color: #777; &:hover { color: #000; } }
