@font-face {
  font-family: "sans"; font-style: normal; font-weight: 100 1000;
  src: url("/font.woff2") format("woff2 supports variations"),
       url("/font.woff2") format("woff2-variations");
}

@font-face {
  font-family: "sans"; font-style: italic; font-weight: 100 1000;
  src: url("/italic.woff2") format("woff2 supports variations"),
       url("/italic.woff2") format("woff2-variations");
}

* {
  font-family:sans, sans-serif;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html {
  background-color: #65b34c;
  background-size:  cover;
  box-shadow: 0.5rem 0.5rem 1rem #0001 inset;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-image:
    radial-gradient(at left, #0000, #2311),
    linear-gradient(to top, #65b34c, #77b377),
    radial-gradient(circle at top, #ddd8, #7778),
    url('bg.svg');
}

body {
  color:           #444;
  display:         flex;
  flex-flow:       column;
  justify-content: flex-start;
  justify-self:    center;
  align-items:     stretch;
  gap:             1rem;
  margin:          0 auto;
  width: 100%;
  overflow-x: hidden;
  /*overflow:        hidden; */
  @media (screen and min-width: 1366px) {
    & { flex-flow: row wrap; }
  }
}

a[href] {
  color: #090;
}

h1 {
  color: #aaa;
  margin: 0;
  font-size: 1.66rem;
  font-weight: normal;
}

input, textarea, select {
  border:     1px solid #8884;
  box-shadow: 3px 3px 6px #8882;
  font-size:   1rem;
  padding:     0.33rem 0.5rem;
  line-height: 1.33rem;
  &, label { &:hover { background: #fff8 }; };
  &::placeholder { text-decoration: underline; };
  &:focus::placeholder { text-decoration: none; }
}

noscript {
  display: inline-block;
  inset: 0; z-index: 1000; background: #0004; backdrop-filter: blur(0.25rem);
  font-weight: 350;
  color: #fff; border: 1px solid tomato; padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

input[type=checkbox] {
  width:  1rem;
  height: 1rem;
  margin: 0;
  &.collapse {
    width: 1rem;
    height: 1rem;
    position: relative;
    display: inline-block;
  }
}

/*button {margin-top:0.25rem;background:#fff;border:1px solid #aaa;background:#4a4;color:#fff;padding:0.5rem 1rem;border:none;border-radius:0.25rem;box-shadow:3px 3px 9px #3333; text-transform:uppercase;letter-spacing:0.1rem;font-size:1rem}*/

#main {
  background: radial-gradient(at top, #fff1, #fff0);
  width: 100%;
  /*min-height: 66vh;*/
  overflow: visible;
  /*border: 0.5rem solid transparent;*/
  margin:  0;
  padding: 4rem 0 4rem;
  gap: 0.5rem;
  margin: 0 auto;
  min-width: 50rem;
  /*min-height: 100%;*/
  /*padding: 0 15% 0 10%;*/

  p {
    font-size: 1.5rem;
    color: white;
    text-shadow: -1px -1px 0 #0004;
    margin: 1.33rem 0 0 0;
    a { color: white }
  }
  pre.sh {
    max-width: 80ch;
    flex-grow: 1;
    font-size: 1.2rem;
    color: #ffff;
    background: #132a;
    padding: 1rem 1rem;
    font-family: monospace;
    margin: 0 auto 0.5rem;
  }
  .content {
    max-width: 160ch;
    margin: 0 auto;
  }
}

.box {
  background:linear-gradient(180deg, #fff8, #fff4);
  box-shadow:3px 3px 3px #5551;
  border-width:1px;
  border-style:solid;
  border-top-color:#ffffffff;
  border-left-color:#ffffff88;
  border-bottom-color:#00000028;
  border-right-color:#00000022;
}

code {
  border: 1px solid #fff5;
  background: #0001;
  font-family: monospace;
  border-radius: 2px;
  padding: 0 4px;
  font-size: 0.75em;
}

#brand {
  gap: 0.5rem
}

.logo {
  width:               24rem;
  min-height:          24rem;
  margin:              0 auto;
  background:          url("/logo.svg");
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center;
  filter: drop-shadow(1px 1px 1px #0005);
}

.wordmark {
  width:               30rem;
  margin:              0.75rem 1.25rem 3px;
  min-height:          5rem;
  background:          url("/wordmark.svg");
  background-size:     contain;
  background-repeat:   no-repeat; 
  background-position: center;
  filter: drop-shadow(1px 1px 1px #0005);
  border-bottom: 2px solid #fff8;
  border-top: 2px solid #fff8;
}

.subtitle {
  &, & * { color: #fff !important; }
  h1 { font-size: 2rem !important; font-weight: 900 }
  align-self: stretch;
  padding: 0.5rem;
  font-size:2rem;
  line-height:1;
  font-weight:400;
  color:#fff;
  text-decoration:none;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  /*border-bottom: 1px solid #fff;*/
}

.hackbg {
  /*background: linear-gradient(to bottom, rgba(144, 19, 254, 1), rgba(144, 19, 254, 0));*/
  font-size: 1.2rem;
  letter-spacing: 0;
  font-weight: normal;
  padding: 0.66rem 0.5rem 0.66rem 1rem;
  margin: 0;
  border-bottom: none;
  text-shadow: 1px 1px 0 #0008;
  &:hover {
    background: linear-gradient(to right, #fff8, #0808 55%, #a108 90%);
  }
  strong {
    font-weight: 800;
  }
}

.work {
  text-align: center;
  text-decoration: underline !important;
  padding: 1rem !important;
  /*margin: 0 1rem !important;*/
}

a.help { color: #777; &:hover { color: #000; } }

button.pill {
  background: none; color: #fff; border: 1px solid #fffa; padding: 0.33rem 0.5rem; font-size: 1rem; border-radius: 2rem; opacity: 0.8; &:hover { opacity: 1 }
}

nav.header {
  width: 100%; position: fixed; top: 0; left: 0; right: 0; z-index: 10000000;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background: radial-gradient(at bottom, #3540 50%, #3544);
  backdrop-filter: blur(2px);
}

.banner {
  flex-grow: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #353b;
  backdrop-filter: blur(3px);
  z-index: 1000000;
  text-shadow: 1px 1px 0 #000;
  font-weight: semibold;
}

.hero {
  gap: 1rem !important;
  padding-bottom: 0.5rem;
}
