@font-face
{ font-family: "sans"; font-style: normal; font-weight: 100 1000; src: url("/font.woff2")   format("woff2 supports variations"), url("/font.woff2")   format("woff2-variations"); }

@font-face
{ font-family: "sans"; font-style: italic; font-weight: 100 1000; src: url("/italic.woff2") format("woff2 supports variations"), url("/italic.woff2") format("woff2-variations"); }

*
{ font-family:sans, sans-serif; }

html,
body
{ font-size:18px; }

html
{ background-size:cover;
  background-image:radial-gradient(circle at top, #ccc6, #8886), url('bg.svg'); }

body
{ color:#555; }

h1
{ font-size:1.66rem;font-weight:normal;color:#aaa; }

input,
textarea,
select
{
  font-size: 1rem;
  line-height: 1.33rem;
  border: none;
  background: linear-gradient(to bottom, #fff6, #fff8);
  border-radius:0.25rem;
  border: 1px solid #8884;
  box-shadow: 3px 3px 6px #8882;
  &::placeholder
  { text-decoration: underline; };
  &:focus, &:focus-visible, &:active
  { background: #fff8; outline:none; border: 1px solid #4848; };
  &, label
  { &:hover { background: #fff8 }; }; }

#editors textarea
{ font-size: 0.875rem; line-height: 1.25 }

.box
{ background:linear-gradient(180deg, #fff5, #fff1);box-shadow:3px 3px 3px #5551;
  border-width:1px;border-style:solid;
  border-top-color:#ffffffff;border-left-color:#ffffff88;
  border-bottom-color:#00000028;border-right-color:#00000022 }
