@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j84tj2');
  src:  url('fonts/icomoon.eot?j84tj2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j84tj2') format('truetype'),
    url('fonts/icomoon.woff?j84tj2') format('woff'),
    url('fonts/icomoon.svg?j84tj2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instance:before {
  content: "\e924";
}
.icon-blob:before {
  content: "\e92b";
}
.icon-search:before {
  content: "\e986";
}
.icon-upload:before {
  content: "\e9c3";
}
.icon-chain:before {
  content: "\e9cb";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-run:before {
  content: "\ea1c";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-schema:before {
  content: "\ea7f";
}
