$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-instance: "\e924";
$icon-blob: "\e92b";
$icon-folder: "\e92f";
$icon-storage: "\e964";
$icon-search: "\e986";
$icon-upload: "\e9c3";
$icon-chain: "\e9cb";
$icon-warning: "\ea07";
$icon-notification: "\ea08";
$icon-question: "\ea09";
$icon-checkmark: "\ea10";
$icon-run: "\ea1c";
$icon-filter: "\ea5b";
$icon-schema: "\ea7f";
$icon-git: "\eae7";

