* {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  text-align: center;
}

body {
  font-size: 20px;
  background-image: url(bg.svg);
  color: #111;
}

body, header, section, footer {
  padding: 1em;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a, a:focus, a:visited, a:active, a:hover {
  color: rgb(101, 179, 76)
}

.logo {
  height: 23em;
  margin: -5em;
}

h1 {
  font-size: 2em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

button, .button {
  display: inline-block;
  background: rgb(101, 179, 76);
  color: white;
  padding: 0 1em;
  margin: 1em 0;
  text-shadow: -1px -1px 0 black;
  box-shadow: 1px 1px 0 black;
  font-weight: bold;
  font-weight: 900;
}
a.button:focus, a.button:visited, a.button:active, a.button:hover {
  color: white;
}

table {
  width: 50%;
  width: 50vw;
  margin: 0 auto 5em;
}
th, td {
  text-align: left;
  vertical-align: top;
}
th {
  padding-right: 5em
}
