* {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  /*background-image: url(bg.svg);*/
  background-image: linear-gradient(to bottom, hsl(106 50% 80% / 1) 0rem, transparent 30rem);
  color: #123;
}

body, header, section, footer {
  padding: 1em;
}

header {
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a, a:focus, a:visited, a:active, a:hover {
  color: rgb(101, 179, 76)
}

.logo {
  height: 23em;
  margin: -5em;
}

h1 {
  font-size: 2em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
h2 {
  font-size: 2em;
  text-align: center;
}
h3 {
  font-size: 1.66em;
  text-align: center;
}
h4 {
  font-size: 1.33em;
}

button, .button {
  display: inline-block;
  background: rgb(101, 179, 76);
  color: white;
  padding: 0 1em;
  margin: 1em 0;
  text-shadow: -1px -1px 0 black;
  box-shadow: 1px 1px 0 black;
  font-weight: bold;
  font-weight: 900;
}
a.button:focus, a.button:visited, a.button:active, a.button:hover {
  color: white;
}

table {
  width: 50%;
  width: 50vw;
  margin: 0 auto 5em;
}
th, td {
  text-align: left;
  vertical-align: top;
}
th {
  padding-right: 5em
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 80rem;
  margin: 0 auto 3rem;
}

.feature {
  width: 33.3%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.feature.center {
  text-align: center;
}

.feature .description {
  line-height: 1.5;
}
