* {
  box-sizing: border-box;
  font-family: "Cantarell", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
html {
  min-height: 100%;
  min-width: 100%;
  height: 100%
  width: 100%;
  font-size: 16px;
}
body {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
  color: #123;
  font-size: 16px;
  background-color: rgb(101, 179, 76);
  background-image: linear-gradient(to bottom, rgb(101, 179, 76), #2e0056), url('bg.svg');
  background-image: linear-gradient(to bottom, rgb(101, 179, 76), #2e0056), url('assets/bg.svg');
  background-size: contain;
  background-repeat: repeat;
}
.page {
  align-items: flex-start;
  background: #f0f0f0;
  border-radius: 1rem;
  border-right: 1px solid #fff;
  border-top: 2px solid #fff;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
  display: grid;
  flex-flow: row nowrap;
  grid-template: 20rem 1fr auto / 20rem 1fr;
  grid-gap: 1.618rem;
  margin: 1rem;
  padding: 1.618rem;
}
@media (max-width: 40vh) {
  .page {
    display: flex;
    flex-flow: column nowrap;
  }
}
  .page > .page-header {
    grid-row: 1 / span 2;
    grid-column: 1;
  }
  .page > .search {
    grid-row: 1;
    grid-column: 2;
  }
  .page > .page-content {
    grid-row: 1 / span 2;
    grid-column: 2;
  }

.page-header {
  text-align: center;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-page: space-around;
  align-items: center;
  grid-gap: 1.618rem;
}
  .page-header .logo {
    display: block;
    margin: 0;
    flex-shrink: 1;
  }
  .page-header .logo img {
    display: block;
    margin: 0;
    flex-shrink: 1;
    max-width: 16rem;
    max-height: 16rem;
  }
  .page-header .logo.hack {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-page: space-around;
  }
  .page-header .logo.hack img {
    max-width: 9rem;
  }
  .page-header a.badge {
    display: inline-block; padding: 0.25rem 0.5rem;
  }
  .page-header .links {
    flex-flow: column nowrap;
    align-items: center;
  }
  .page-header .links img:last-child {
    margin-left: 0.5rem;
  }

.page-content {
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
  grid-template: 1fr / 1.618fr 1fr;
  justify-page: center;
  padding: 0;
  grid-gap: 1.618rem;
}
  .page-content > .features {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    grid-gap: 1.618rem;
    flex-flow: column nowrap;
    display: flex;
  }
  .page-content > .examples {
    flex-grow: 1.618;
    flex-shrink: 1.1;
    overflow: auto;
    grid-gap: 1.618rem;
    display: flex;
    flex-flow: column nowrap;
  }
@media (max-width: 60rem) {
  .page-content {
    display: flex;
    flex-flow: row wrap;
  }
}

.feature {
  padding: 1.5rem;
  margin: 0;
  /*margin: 1rem 0.66rem 0;*/
  border: 1px solid rgba(0,0,0,0.1);
  border-top-color: rgba(255,255,255,0.5);
  border-left-color: rgba(255,255,255,0.5);
  border-radius: 3px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-flow: column nowrap;
  background: #fff;
  min-height: 10rem;
  border-radius: 0.5rem;
}

.examples {}
  .examples h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 2rem;
    opacity: 0.8;
  }
  .examples .feature {
    margin-left: 0;
  }

.references {
  display: flex;
  flex-flow: column nowrap;
  grid-gap: 1.618rem;
}
  .references .feature {
    flex-grow: 1;
  }
  @media (max-width: 50vh) {
    .references {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      justify-content: space-around;
    }
  }
  .references .feature {
    padding: 1rem;
    text-align: left;
  }
    .feature h2 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .feature h3 {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 1.5rem 0 0rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .feature p { line-height: 1.5rem; }
    .feature pre {
      color: white;
      padding: 0;
      font-size: 0.875rem;
      font-weight: normal;
    }
      .feature pre .hljs {
        border-radius: 1rem;
        border: none;
        box-shadow: none;
        border-top: 1px solid rgba(0,0,0,0.33);
        border-bottom: 1px solid rgba(255,255,255,0.33);
      }
      /*.feature pre .hljs-meta {*/
        /*color: gold;*/
      /*}*/
      /*.feature pre .hljs-comment {*/
        /*color: #89a;*/
      /*}*/
    .feature .docs {
      font-weight: bold;
    }
    .feature a.docs {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      font-weight: normal;
      text-decoration: none;
      cursor: default;
      color: #888;
    }
    .feature a.docs strong {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
    .feature a.docs[href] {
      text-decoration: none;
      color: rgb(67, 119, 51);
      cursor: pointer;
    }
    .feature .description {
      line-height: 1.5;
      font-size: 0.875rem;
    }
    .feature .description h3:first-child {
      margin-top: 0;
    }

    .feature.highlight {
      background-color: rgb(67, 119, 51);
      background-image: url('bg.svg'), linear-gradient(to bottom, transparent 90%, rgba(0,0,0,0.1));
      background-image: url('assets/bg.svg'), linear-gradient(to bottom, transparent 90%, rgba(0,0,0,0.1));
      background-size: contain;
      background-repeat: repeat;
      color: white;
      padding: 2rem;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2) inset;
      box-shadow: 0rem 1rem 1rem rgba(32,32,32,0.2) inset;
      border-right: 1px solid white;
      border-bottom: 2px solid white;
    }
      .feature.highlight * {
        color: white; fill: white;
      }
      .feature.highlight a.docs {
        color: white;
      }
        .feature.highlight a.docs:hover {
          background: rgba(255,255,255,0.1)
        }
        .feature.highlight a.docs[href] {
          text-decoration: underline;
        }
      .feature.highlight p {
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 1rem;
      }
      .feature.highlight pre {
        /*margin: 0 -1rem;*/
      }
      .feature.highlight h2 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
        text-transform: none;
        margin-top: 0rem;
      }

    .feature.foss { background: #2e0056; color: white; }
      .feature.foss * { color: white; fill:  white; }
      .feature.foss a.docs { color: white; }

@media (max-width: 80rem) {
}

@media (max-width: 48rem) {
}

/*.big-left { grid-column-start: 1; grid-column-end: 3; }*/
/*.big-center { grid-column-start: 2; grid-column-end: 4; }*/
/*.big-right { grid-column-start: 3; grid-column-end: 5; }*/
/*.big-all { grid-column-start: 1; grid-column-end: 5; }*/

.left {
  text-align: left;
}
.center {
  text-align: center;
}


.feature-logo {
  margin-bottom: 0.5rem;
  height:        5rem;
  width:         12rem;
  align-self:    center;
}

.tag {
  font-size: 0.8rem;
  background: #f5faf3;
  border: 1px solid #437733;
  color: #437733;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0 0;
  align-self: flex-start;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.spacer {
  flex-grow: 1;
  min-height: 0.5rem;
}

p {
  line-height: 1.75rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

svg.icon {
  width: 2rem;
  height: 2rem;
}
a > svg.icon {
  fill: rgb(101, 179, 76);
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1rem;
  vertical-align: baseline;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

@keyframes hourglass {
  50%  { transform: rotateZ(0);      }
	100% { transform: rotateZ(180deg); }
}

svg.icon-todo {
  /*animation-name: hourglass;*/
  /*animation-duration: 3s;*/
  /*animation-delay: 1s;*/
  /*animation-iteration-count: infinite;*/
}

.links {
  display: flex;
  flex-flow: row wrap;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  margin: -1rem;
}
  .links > a {
    margin-right: 1rem;
    margin: 0.25rem;
    padding: 0.5rem 0.75rem;
    transition:
      padding-left 0.33s,
      margin-right 0.33s;
  }

/*.feature .links .icon { fill: #F46623 }*/

.icon-todo { fill: #aaa !important; }

#quick-start {
  text-align: center;
  flex-grow: 1;
}

.ensuite-md-rendered {
  /*background: white;*/
  /*display: block;*/
  /*max-width: 54rem;*/
  /*margin: 3rem auto 0 38%;*/
  /*padding: 3rem;*/
  /*box-shadow: 3px 3px 6px rgba(0,0,0,0.1)*/
  display: flex;
  flex-flow: row nowrap;
  justify-page: center;
}

.ensuite-md-content {
  background: white;
  padding:    5rem 3rem 2rem;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
  max-width:  54rem;
}
.ensuite-md-nav {}
.ensuite-md-nav ul { list-style: none; margin-top: 5rem; margin-right: 2rem; }
.ensuite-md-nav li a { display: inline-block; font-weight: bold; padding: 0.5rem 1rem; text-transform: uppercase; font-size: 0.9rem; line-height: 1rem }
.ensuite-md-toc {}
.ensuite-md-toc .table-of-contents { margin-top: 5rem; margin-left: 1rem; overflow: auto; }
.table-of-contents { overflow: auto }
.table-of-contents a { display: block; text-decoration: none; padding: 0.25rem 1.5rem 0.25rem }
.table-of-contents a:hover { text-decoration: underline 2px solid }
.table-of-contents li { margin: 0 0 }
.table-of-contents ul { font-weight: bold; margin-left: 0; list-style: none }
.table-of-contents ul ul { font-weight: normal; margin-left: 1em }


/*.ensuite-md-rendered .table-of-mains {*/
  /*position: fixed;*/
  /*top: 3rem;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*width: 38%;*/
  /*background: #476d3b;*/
  /*background: hsl(106 25% 25% / 1);*/
  /*color: white;*/
  /*padding: 1rem 0 2rem 1rem;*/
  /*border-right: 1px solid #888;*/
  /*display: flex;*/
  /*justify-main: flex-end;*/
/*}*/
.ensuite-md-rendered h2 { margin-top: 2.5rem; margin-bottom: 0.5rem; }
.ensuite-md-rendered h3 { margin-top: 1.5rem; margin-bottom: 0.5rem; }

ul { margin: 0.5rem 2rem; }
li { margin: 0.5rem 0; }

.ensuite-md-header {
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  justify-main: space-between;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 0;
  padding: 0 1rem;
  font-weight: bold;
  background: hsl(106 30% 33% / 1);
  color: white;
  width: 100%;
  max-width: 100%;
  font-weight: normal
}
.ensuite-md-separator {
  flex-grow: 1;
}
.ensuite-md-header a {
  color: white;
}
.ensuite-md-header .ensuite-md-title {
}
.ensuite-md-header .ensuite-md-link {
  font-size: 1rem;
  margin-left: 1rem;
}

hr {
  margin: 1rem -1rem;
}

.wallet {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 7.95rem;
  height: 5rem;
  z-index: 10;
  background-color: #080;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(10,10,10,0.1));
  border-radius: 0.5rem;
  box-shadow: 1px 6px 11px rgba(0,64,0,0.5);
  border-top: 1px solid #8f8;
  border-bottom: 1px solid #363;
  animation-name: bob;
  animation-duration: 0.66s;
  animation-iteration-count: infinite;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #363;
  display: flex;
  align-items: center;
  justify-main: center;
  /*animation-easing: linear;*/
}
@keyframes bob {
  50%  { transform: translateY(0.2rem); }
	100% { transform: translateY(0rem); }
}


a[href] {
  text-decoration: none;
}
  a[href]:hover,
  a[href]:focus {
    text-decoration: underline;
  }
section { padding: 1em; }
footer { padding: 1em; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a, a:focus, a:visited, a:active, a:hover { color: rgb(101, 179, 76) }
h1, h2, h3, h4 { font-weight: 600 }
h1 { font-size: 3em;     line-height: 3rem;   margin-bottom: 2rem;                     }
h2 { font-size: 1.75em;  line-height: 2rem;   margin-bottom: 1rem;   margin-top: 0;    }
h3 { font-size: 1.5rem;  line-height: 2rem;   margin-bottom: 1rem;                     }
h4 { font-size: 1.25em;  line-height: 1.5rem; margin-bottom: 0.5rem; margin-top: 2rem; }
h5 { font-size: 1.125em; line-height: 1.5rem; margin-bottom: 0.5rem; margin-top: 2rem; }
button, .button {
  display: inline-block;
  background: rgb(101, 179, 76);
  color: white;
  padding: 0 1em;
  margin: 1em 0;
  text-shadow: -1px -1px 0 black;
  box-shadow: 1px 1px 0 black;
}
a.button:focus, a.button:visited, a.button:active, a.button:hover {
  color: white;
}
th, td { text-align: left; vertical-align: top; }
th { padding-right: 5em }
.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.connect-button {
  aspect-ratio: 1.585 / 1;
  min-width: 10rem;
  border-radius: 5%;
  border-top: 3px solid #cfc;
  border-bottom: 1px solid #486;
  position: relative;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 1rem 1rem rgba(0,16,0,0.2);
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  background: linear-gradient(45deg, #2a4, #af8);
  text-decoration: none !important;
  color: white;
}
.connect-button:hover,
.connect-button:focus {
  transform: translateY(5%);
  box-shadow: 0rem 0.5rem 0.5rem rgba(0,16,0,0.3);
  background: linear-gradient(22.5deg, #2a4, #af8);
}
.connect-button:active {
  transform: translateY(6%);
  box-shadow: 0rem 0.1rem 0.1rem rgba(0,16,0,0.4);
  background: linear-gradient(0deg, #2a4, #af8);
}
.connect-button-chip {
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
  background: #afa;
  border-radius: 10%;
  z-index: 0;
  border-top: 1px solid rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(255,255,255,0.75);
}
.connect-button span {
  z-index: 1;
  margin-left: 0.5rem;
  line-height: 1rem;
  height: 1rem;
  font-weight: bold;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.1);
  display: block;
  color: #afa;
}

.search {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
}
.search input {
  flex-grow: 1;
  margin-right: 1rem;
  font-size: 1.5rem;
  line-height: 1;
  height: 4rem;
  background: none;
  border-radius: 5rem;
  padding: 0.5rem 2rem;
  border-top: 1px solid #888;
  border-bottom: 2px solid white;
  border-left: none;
  border-right: none;
  background: rgba(0,0,0,0.1);
}
.search input:hover,
.search input:focus {
  background: rgba(255,255,255,0.1);
}
