[package]
name = "fadroma-derive-canonize"
version = "0.3.5"
edition = "2021"
license = "AGPL-3.0"
description = "Canonize/Humanize derive macro for Fadroma"
repository = "https://github.com/hackbg/fadroma"
authors = ["Asparuh Kamenov <asparuh@hack.bg>"]

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "^1.0.20"
syn = { version = "1.0", features = ["full", "extra-traits"] }
quote = "1.0"

[dev-dependencies]
fadroma = { path = "../fadroma", default-features = false, features = ["scrt"] }
serde = { version = "1.0.103", default-features = false, features = ["derive"] }
