.grow {
  flex-grow: 1;
}
.wrap {
  flex-wrap: wrap;
}
.align-start {
  align-items: flex-start;
}
.no-select {
  user-select: none;
}

.schema-converter {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
  .schema-converter footer {
    background: #98cc88;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.8em;
    padding: 0.5em 1em;
    z-index: 10;
  }
    .schema-converter footer a {
      color: black;
      text-decoration: underline;
      padding: 0 0.33em;
    }

.schema-converter-header {
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  flex-flow: column nowrap;
}
  .schema-converter-header h1 {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0;
    text-align: left;
  }

.schema-converter-input {
  display: flex;
  flex-flow: row wrap;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.schema-converter-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schema-converter-modal-background {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.2);
  transition: all 100ms linear;
  backdrop-filter: blur(3px) brightness(0.66) saturate(0.75)
}

.schema-converter-modal-error {
  font-weight: bold;
  color: tomato;
}

.schema-converter-modal-content {
  padding: 2rem;
  background: white;
  position: relative;
  z-index: 200;
  display: flex;
  flex-flow: column nowrap;
}
  .schema-converter-modal-content input {
    padding: 0.5rem;
    margin: 0.5rem 0;
  }

.schemas {
  overflow: auto;
  z-index: 1;
  padding: 0 0 4rem;
}

.schema {
  flex-grow: 1;
  z-index: 1;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  max-width: 72em;
  margin: 0 1rem 1rem;
}
  .schema:last-child {
    /*margin-bottom: 0 */
  }

.schema-actions {
  font-size: 1rem;
}
  .schema-actions label {
    white-space: nowrap;
    margin-right: 0.5rem;
  }

.schema-content {
  flex-grow: 1;
  align-items: flex-start;
  background: white;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
}

.schema-header {
  font-size: 1.5em;
  background: #98cc88;
  padding: 0 0.5rem;
  margin: 0;
  border: 1px solid #888;
}

.schema-url {
  font-size: 1rem;
  background: white;
  padding: 0 0.5rem;
  font-weight: bold;
  border: none;
  align-items: flex-start;
  margin-left: 0.5em;
}

.schema-metadata {
  margin: 0;
  min-width: 25vw;
  padding: 0.5rem;
  height: 100%;
  overflow: auto;
  flex-grow: 0;
  flex-shrink: 0;
  background: white;
}

.schema-description {
  padding: 1rem 5%;
  width: 100%;
}

.schema-body {
  padding: 1rem 5%;
  height: 100%;
  overflow: auto;
  flex-grow: 5;
  min-height: 100%;
  border: 1px solid #888;
  border-top: none;
  background: white;
  margin-left: -1px;
}
  .schema h1 {
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-size: 1.75rem;
  }
  .schema h2 {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
  .schema h3 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-size: 1.33rem;
  }
  .schema h4 {
    margin-top: 1rem;
  }
  .schema pre > code {
    font-size: 0.9rem;
    line-height: 1;
    margin: 0.5rem 0 1.5rem;
    padding: 1em
  }
  .schema hr + h2 {
    margin-top: 0;
  }

.schema-overview {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  border-bottom: 1px solid #888;
}

.schema-definitions {
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 1rem;
}

.schema-field {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
  .schema-field hr {
    flex-grow: 1;
    margin: 0;
    height: 1px;
    border: none;
    margin: 0 0.33em;
    background: black;
  }

.schema-converter button {
  user-select: none;
  font-size: 1rem;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  transition: background 100ms linear;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.33);
  border: 1px solid rgba(101,179,76);
  color: #5f924f;
  background: linear-gradient(to bottom, #fff, #eef0ee);
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  margin: 0;
}
  .schema-converter button:hover {
    background: linear-gradient(to bottom, #fff, #fff);
    color: rgb(101,179,76);
  }

  .schema-converter .schema-sample button {
    color: #fff;
    background: #5f924f;
  }

.schema-converter-input > button {
  margin: 0.25rem;
  padding: 0.5rem 1rem;
}

.schema-header button,
.schema-url button {
  text-align: left;
  text-shadow: none;
  padding: 0.25rem 1rem;
  align-self: stretch;
  margin-right: 1px;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.schema-url > button {
  font-size: 0.8rem;
}

.schema-type {
  opacity: 0.66;
  user-select: none;
}

.schema-sample-wrapper {
  background: #465;
  color: white;
  width: 100%;
  border: 1px solid #888;
}
.schema-sample {
  position: relative;
  margin: 0;
  font-family: monospace;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  background: #465;
  color: white;
}
  .schema-sample > button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
  .schema-sample td {
    padding: 0 0.5em;
  }
  .schema-sample thead td {
    background: rgba(0,0,0,0.5);
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    user-select: none;
    font-weight: bold;
  }
  .schema-sample td,
  .schema-sample p {
    line-height: 1.5em;
    margin: 0;
  }
  .schema-sample p + p {
    margin-top: 0.5em;
    /*margin-bottom: 0.33em;*/
  }
  .schema-sample .schema-type {
    vertical-align: baseline;
  }
  .schema-sample a {
    color: #fe8;
    font-weight: bold;
  }
  .schema-sample code {
    background rgba(0,0,0,0.1);
    color: #fff;
    font-style: italic;
  }

.schema-message {
  margin-top: 2rem;
}
  .schema-message h3:first-child {
    margin-top: 0;
  }

.schema-message-name {
  opacity: 0.5
}
.schema-message-example {
  align-items: flex-start;
}
  .schema-message-example .schema-sample {
    flex-grow: 1;
  }
  .schema-message-example .spacer {
    flex-grow: 0;
  }
  .schema-message-example button {
    margin-left: 1em;
  }

.schema-sample-actions {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch
}
  .schema-sample-actions button {
    margin-bottom: 0.5em;
  }

.schema-field-key {
  white-space: pre;
  font-weight: bold;
}
.schema-field-comment {
  font-weight: normal
  white-space: pre-wrap;
  opacity: 0.66;
}
.schema-field-description {
  font-family: Inter, sans-serif;
}
.schema-field-description > span > p:first-child {
  display: inline;
}

.vsep {
  margin: -0.66rem 0.33rem;
  width: 1px;
  height: 1em;
  background: rgba(0,0,0,0.5)
}

.schema-body hr {
  margin: 0.5rem -0.5rem;
}

.schema-message-header button {
  margin-left: 0.5rem;
}
